.search-filter {
  border: 1px solid $ui-04;
}

.search-filter__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(22px);
  height: rem(22px);
  margin-right: $spacing-3xs;
  border-radius: 50%;
  background-color: $ui-04;
}

.search-filter__head {
  display: flex;
  align-items: center;
  position: relative;
  height: rem(50px);
  padding: rem(15px);
  padding: $spacing-2xs $spacing-xs;
  background-color: #fafafa;
}

.search-filter__head .checkbox__label {
  color: $text-01;
}

.search-filter__body {
  background-color: $ui-02;
}

.search-filter__list{
  height: 100%;
}

.search-filter__item-group{
  display: flex;
  align-items: center;
  padding: $spacing-2xs $spacing-md;
}

.search-filter__body .checkbox {
  flex: 1;
}

.search-filter__count {
  margin-left: auto;
}


.search-filter__next{
  margin: $spacing-2xs 0 $spacing-2xs $spacing-xl;
}

//kt디자인 수정 2022-06-27
.search-filter__item {
  margin-top: rem(10px);

  &:first-child {
    margin-top: 0;
  }
}

