.contents-top__detail {
  position: relative;
  width: 100%;

  .detail-button-default {
    position: relative;
    display: block;
    width: rem(100px);
    height: rem(40px);
    margin: 0 auto;
    color: $text-01;
    background: transparent;
    @include font-weight("medium");
    @include font-size("14");

    &:before {
      content: "";
      width: rem(7px);
      height: rem(7px);
      border-top: 2px solid $text-01;
      border-right: 2px solid $text-01;
      display: inline-block;
      -webkit-transform: rotate(135deg) translateY(-50%);
      transform: rotate(135deg) translateY(-50%);
      transition: all .1s;
      position: absolute;
      top: rem(10px);
      left: 0;
      border-radius: 2px;
    }
  }

  .detail-button-open {
    position: relative;
    display: block;
    width: rem(100px);
    height: rem(40px);
    margin: 0 auto;
    color: $text-01;
    background: transparent;
    @include font-weight("medium");
    @include font-size("14");

    &:before {
      content: "";
      width: rem(7px);
      height: rem(7px);
      border-top: 2px solid $text-01;
      border-right: 2px solid $text-01;
      display: inline-block;
      -webkit-transform: rotate(-45deg) translateY(-50%);
      transform: rotate(-45deg) translateY(-50%);
      transition: all .1s;
      position: absolute;
      top: rem(21px);
      left: rem(6px);
      border-radius: 2px;
    }
  }

  .detail_open {
    display: block;
    transition: all .5s;
  }

  ul {
    position: relative;
    width: 100%;
    border: 1px solid $ui-04;
    border-left: none;
    border-right: none;
    padding: rem(20px) 0;
    display: none;
    transition: all .5s;
  }

  li {
    display: flex;
    width: 100%;
    padding: rem(3px) $spacing-lg;
  }

  li > h4 {
    width: rem(120px);
    height: rem(30px);
    padding-top: rem(5px);
    @include font-size("13");
    @include font-weight("medium");
    color: $text-02;
    flex-shrink: 0;
  }

  li .search-detail__items {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
  }

  li .search-detail__items a {
    //float: left;
    position: relative;
    border-radius: rem(15px);
    height: rem(30px);
    line-height: rem(26px);
    margin: 0 $spacing-2xs $spacing-2xs 0;
    padding: 0 rem(30px) 0 rem(15px);
    border: 1px solid $ui-04;
    background: $ui-02;
    color: $text-01;
    @include font-size("14");
  
    &:hover {
      border: 1px solid $secondary;
      color: $secondary;
    }
  
    .detail__delete-button {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      right: rem(5px);
      width: rem(16px);
      height: rem(16px);
      background: none;
  
      .svg-icon {
        width: rem(16px);
        height: rem(16px);
      }    
  
    }
      
  }

  .detail__reset-button {
    width: rem(220px);
    height: rem(30px);
    margin: 0 auto;
    border: 1px solid $ui-04;
    border-radius: rem(5px);
    @include font-size("13");
    @include font-weight("regular");
    color: $text-02;
    padding-left: rem(24px);
    background: $ui-02 url(#{$img-path}/common/icon.png) no-repeat rem(36px) rem(-218px); 

    &:hover {
      background: $ui-02 url(#{$img-path}/common/icon.png) no-repeat rem(36px) rem(-218px);
      border: 1px solid $secondary;
    }
  }
  
}

.aside__category {
  position: relative;
  width: rem(240px);
  height: rem(830px);
  padding: 0 0 $layout-3xs 0;
}

.aside__category-default {
  position: absolute;
  top: 0;
  left: 0;
  width: rem(250px);
  height: rem(800px);
  background: $ui-02;
  border-right: 1px solid;
  border-image: linear-gradient(to bottom, $ui-02, $ui-04, $ui-02);
  border-image-slice: 1;
}

.aside__category-expand {
  position: absolute;
  top: 0;
  left: 0;
  width: rem(440px);
  height: rem(831px);
  box-shadow : 5px 5px 15px -15px;
  z-index: 5;
  background: $ui-02;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-image: linear-gradient(to bottom, transparent, $ui-04);
  border-image-slice: 1;
}

.aside__button-expand {
  position: absolute;
  top: 50%;
  right: 0;
  width: rem(30px);
  height: rem(30px);
  border-radius: rem(15px);
  -webkit-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  background: $ui-02;
  border: 1px solid $ui-04;
  box-shadow : 3px 0px 10px -7px;
  z-index: 10;

  &:before {
    content: "";
    width: rem(7px);
    height: rem(7px);
    border-top: 2px solid $text-02;
    border-right: 2px solid $text-02;
    display: inline-block;
    -webkit-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
    transition: all .1s;
    position: absolute;
    top: rem(12px);
    left: rem(5px);
    border-radius: 2px;
  }

  &:hover:before {
    border-color: $secondary;
  }

  &:hover:after {
    content: "확장";
    position: absolute;
    top: rem(-20px);
    right: rem(-30px);
    @include font-size("12");
    @include font-weight("regular");
    color: $ui-02;
    background: $primary;
    border-radius: rem(3px);
    padding: 1px $spacing-2xs;
  }

  
}

.aside__button-default {
  position: absolute;
  top: 50%;
  right: 0;
  width: rem(30px);
  height: rem(30px);
  border-radius: rem(15px);
  -webkit-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  background: $ui-02;
  border: 1px solid $ui-04;
  box-shadow : 3px 0px 10px -7px;
  z-index: 10;

  &:before {
    content: "";
    width: rem(7px);
    height: rem(7px);
    border-top: 2px solid $text-02;
    border-right: 2px solid $text-02;
    display: inline-block;
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
    transition: all .1s;
    position: absolute;
    top: rem(6px);
    left: rem(14px);
    border-radius: 2px;
  }

  &:hover:before {
    border-color: $secondary;
  }

  &:hover:after {
    content: "축소";
    position: absolute;
    top: rem(-20px);
    right: rem(-30px);
    @include font-size("12");
    @include font-weight("regular");
    color: $ui-02;
    background: $primary;
    border-radius: rem(3px);
    padding: 1px $spacing-2xs;
  }
}

.aside__provider {
  position: relative;
  width: rem(240px);
  height: rem(240px);
  padding: $layout-3xs 0;
  border-top: 1px solid $ui-04;
  margin-bottom: $spacing-md;
  overflow: hidden;
}

.aside__provider-expand {
  position: relative;
  width: rem(240px);
  padding: $layout-3xs 0;
  border-top: 1px solid $ui-04;
  margin-bottom: $spacing-md;
  display: table;
}

.aside__button-down {
  position: absolute;
  top: rem(20px);
  right: rem(10px);
  background: transparent;

  &:before {
    content: "전체보기";
    position: absolute;
    right: rem(16px);
    @include font-size("14");
    @include font-weight("regular");
    color: $text-02;
  }

  &:after {
    content: "";
    width: rem(7px);
    height: rem(7px);
    border-top: 2px solid $text-01;
    border-right: 2px solid $text-01;
    display: inline-block;
    -webkit-transform: rotate(135deg) translateY(-50%);
    transform: rotate(135deg) translateY(-50%);
    transition: all .1s;
    position: absolute;
    top: rem(7px);
    right: 0;
    border-radius: 2px;
  }

  &:hover {
    color: $secondary;
  }
}

.aside__button-up {
  position: absolute;
  top: rem(20px);
  right: rem(10px);
  background: transparent;

  &:before {
    content: "접기";
    position: absolute;
    right: rem(16px);
    @include font-size("14");
    @include font-weight("regular");
    color: $text-02;
  }

  &:after {
    content: "";
    width: rem(7px);
    height: rem(7px);
    border-top: 2px solid $text-01;
    border-right: 2px solid $text-01;
    display: inline-block;
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
    transition: all .1s;
    position: absolute;
    top: rem(17px);
    right: rem(-6px);
    border-radius: 2px;
  }

  &:hover {
    color: $secondary;
  }
}

.aside__type {
  position: relative;
  width: rem(240px);
  padding: $layout-3xs 0;
  border-top: 1px solid $ui-04;
  margin-bottom: $spacing-md;
}

.aside__keyword {
  position: relative;
  width: rem(240px);
  padding: $layout-3xs 0;
  border-top: 1px solid $ui-04;
  margin-bottom: $spacing-md;
}

.aside__title {
  height: rem(52px);
  @include font-size("18");
  @include font-weight("bold");
  padding-left: rem(5px);
  line-height: rem(52px);
}

.contents__aside {
  width: 240px;
  margin: 0;
  border-right: 1px solid #cecece;
  transition: all .1s;
}

.contents__aside-head {
  display: flex;
  width: 100%;
  height: rem(40px);
  padding: 0 $spacing-sm;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid $ui-04;
  border-right: none;
}

.contents__aside-body {
  padding: $spacing-sm $spacing-sm 0 0;
}

.contents__aside-checkbox {
  margin-right: $spacing-sm;
}

.contents__aside-title {
  @include text-overflow();
  flex: 1;
}

.contents__aside-options {
  margin-left: auto;
}

.contents-filter {
  .search-filter + .search-filter {
    margin-top: $spacing-md;
  }
}

.contents-filter + .contents-filter {
  margin-top: $spacing-md;
}

.contents-filter__reset-button {
  margin: $spacing-md $spacing-2xs 0 $spacing-2xs;

  .button {
    width: 100%;
  }
}

.contents__result {
  width: calc(100% - 240px);
  margin-left: auto;
  transition: all .1s;
}

.contents__list {
  position: relative;
}

.contents__list-head{
  position: relative;
  width: 100%;
  height: rem(64px);
  border-bottom: 1px solid $text-03;
  padding-top: rem(20px);

  h4 {
    @include font-size("18");
    @include font-weight("medium");
    color: $text-01;

    span {
      color: $secondary;
      padding-left: rem(8px);
    }
  }

  .list-head__options {
    position: absolute;
    top: rem(16px);
    right: 0;
    display: flex;
  }

  .list-head__options-sort {
    margin: rem(6px) rem(8px) 0;
  }

}

.contents__pagination {
  padding: rem(60px) 0 rem(20px);
}

// detail-filter
.detail-filter {
  position: relative;
  padding: $spacing-md;
  margin-top: rem(35px);
}

.detail-filter__group{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  & + & {
    margin-top: $spacing-md;
  }
}

.detail-filter__toggle-button{
  position: absolute;
  right: 0;
  bottom: calc(100% + 4px);
}

.detail-filter__title{
  @include text-overflow(80px);
  @include font-weight("regular");
  @include font-size("14");
  margin: 0 $spacing-sm $spacing-2xs 0;
  text-align: right;
}

.detail-filter__checkboxes{
  display: flex;
  flex-wrap: wrap;
}

.detail-filter .checkbox {
  margin: 0 0 $spacing-2xs $spacing-2xs;
}

// search-filter

.search-filter__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(22px);
  height: rem(22px);
  margin-right: $spacing-3xs;
  border-radius: 50%;
  background-color: $ui-04;
}

.search-filter__head {
  display: flex;
  align-items: center;
  position: relative;
  height: $button-height-md;
  padding: $spacing-2xs $spacing-xs;
  background-color: $hover-row;
}

.search-filter__head .checkbox__label {
  @include font-size("14");
  @include font-weight("regular");
  color: $text-03;
}

.search-filter__list{
  margin-left: $spacing-md;
  background-color: $ui-02;
}

.search-filter__item-group{
  display: flex;
  align-items: center;
  padding: $spacing-2xs $spacing-md;
}

.search-filter__body .checkbox {
  flex: 1;
}

.search-filter__count {
  margin-left: auto;
}


.search-filter__next{
  margin: $spacing-2xs 0 $spacing-2xs $spacing-xl;
}

// subject
.subject .subject__wrap {
  width: rem(1210px);
  margin: 0 auto;
}

.subject__wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: $spacing-xl $spacing-sm;
}

.subject__title-wrap {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.subject__title {
  height: rem(32px);
  color: #333;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: $spacing-md;
}

.subject__desc {
  display: block;
  @include font-size("16");
  color: $text-02;
  line-height: 1.5;
  word-break: keep-all;
}

.subject__menu-img-box {
  margin: rem(-5px) $spacing-xl 0 $spacing-md;
}

.subject__menu-img-box .svg-icon {
  width: 100%;
  height: 100%;
  fill: $primary;
}

.subject__menu-img-box {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.subject__menu {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* subject > 부수설명UL */
.subject__list {
  margin: $spacing-md 0 0 0;
}

.subject__list-item {
  @include font-size("13");
  position: relative;
  line-height: 1.6;
  padding-left: $spacing-sm;
  color: $text-03;
}

.subject__list-item:before {
  content: "*";
  position: absolute;
  top: $spacing-3xs;
  left: 0;
}

@include template-respond-to('breakpoint-lg') {

  .contents__result {
    width: 100%;
  }

  .contents__aside {
    display: none;
  }

  .contents__list {
    padding: $spacing-md;
  }

  .contents-top__detail-filter {
    width: 100%;
  }

  .subject .subject__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: rem(22px) rem(20px) $spacing-md rem(20px);
  }

  .subject__menu-img-box {
    display: none;
  }

  .subject__title-wrap {
    width: 100%;
  }

  .subject__sub-group {
    position: relative;
    margin-top: $spacing-md;
    bottom: unset;
    right: unset;
    height: unset;
    align-items: flex-end;
  }

  .subject__sub-group>button:only-child {
    position: relative;
    top: unset;
    min-width: rem(200px);
  }

  .subject__list-item {
    justify-content: center;
  }
}

@include template-respond-to('breakpoint-md') {

  .contents-top__detail-filter {
    width: 100%;
  }

  .detail-filter__group,
  .detail-filter__checkboxes {
    flex-direction: column;
  }

  .detail-filter__title {
    @include font-size("15");
    margin: 0 0 $spacing-sm 0;
    width: auto;
  }

  .detail-filter {
    .detail-filter__checkboxes {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}




