.no-scroll {
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(100px);
  z-index: 15;
  background: $ui-02;
}

.header {
  z-index: z('header');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .3s;
  background: $ui-02;
}

.header .header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: rem(1200px);
  height: rem(100px);
  margin: 0 auto;
}

.header:after {
  content: '';
  display: block;
  position: absolute;
  top: rem(100px);
  left: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #59bdeb, #49c7d4);
  z-index: -1;
}

h1.logo {
  width: rem(173px);
  height: rem(100px);
}

h1.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  background: url(#{$img-path}/common/logo_header.png) no-repeat 0 center;
  height: 100%;
  @include font-size("16")

}

h1.logo span {
  @include font-size("16");
  color: $ui-02;
}

.top-bar{
  position: absolute;
  top: rem(40px);
  right: 0;
  z-index: 1;
}

.top-menu{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.top-menu__item {
  position: relative;
  margin: 0 0 0 rem(15px);
  padding: 0 0 0 rem(15px);

  &:not(:last-child):after {
    content: "";
    position: absolute;
    right: rem(-15px);
    top: 50%;
    width: rem(1px);
    height: rem(12px);
    margin-top: rem(-7px);
    background: #ccc;
  }
}

.top-menu__link {
  display: inline-flex;
  align-items: center;
  color: $text-01;

  &:hover, &focus {
    color: $secondary;
  }

  .badge {
    min-width: rem(38px);
    margin-left: rem(10px);
    padding: 0;
  }
}

.top-menu__search {
  position: relative;
  width: rem(200px);
}
.top-menu__input {
  position: relative;
  border-radius: rem(15px);
  width: 100%;
  height: rem(28px);
  @include font-size("12");
}

.top-menu__input:focus {
  box-shadow: none;
}

.top-menu-input__clear-button {
  position: absolute;
  top: rem(-2px);
  right: rem(30px);
  border: none;
  outline: 0;
  background: transparent;
}

.svg-icon__clear-button {
  fill: $ui-04;
  width: rem(20px);
  height: rem(20px);
}

.top-menu-input__clear-button:hover {
  background: transparent;
}

.top-menu-input__clear-button:hover .svg-icon__clear-button {
    fill: $text-03;
}

.top-menu-input__search-button {
  position: absolute;
  top: rem(-1px);
  right: 0;
  border: none;
  outline: 0;
  background: transparent;
}

.svg-icon__search-button {
  fill: $text-03;
  width: rem(20px);
  height: rem(20px);
}

.top-menu-input__search-button:hover {
  background: transparent;

  .svg-icon__search-button {
    fill: $secondary;
    background: transparent;
  }
}

.gnb-area {
  flex-grow: 1;
}

.nav {
  overflow: hidden;
  padding-left: rem(40px);
}

.nav .gnb {
  position: relative;
  display: flex;
}

.gnb__item {
  position: relative;
  height: auto;
  padding: 0 2%;
}

.gnb__link {
  @include font-size("18");
  @include font-weight("medium");
  position: relative;
  display: inline-block;
  height: rem(100px);
  width: 100%;
  padding: rem(40px) 0 0 0;
  color: #222;
  text-align: center;
}

.gnb__item:hover .gnb__link,
.gnb__item .gnb__link:focus {
  @include font-weight("medium");
  color: $secondary;
}

.gnb__item.lnb__item--current .lnb__link {
  @include font-weight("medium");
  color: $text-01;
}

.svg-icon.gnb__arrow-icon{
  display: none;
}

.gnb__item .gnb__link span {
  position: relative;
}

/* .gnb__item .gnb__link span:after {
  content: "";
  position: absolute;
  bottom: rem(-27px);
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background: $secondary;
  transition: all ease .5s;
}

.gnb__item:hover .gnb__link span:after,
.gnb__item:focus .gnb__link span:after {
  left: 0;
  width: 100%;
} 디자인 변경 가능 나중에 삭제 결정2022-07-01 */

.gnb__item.lnb__item--current .lnb__link:before {
  left: 0;
  width: 100%;
}

.lnb {
  height: 0;
  padding: 0;
  opacity: 0;
  transition: all .2s;
}

.lnb__item {
  position: relative;
  height: rem(30px);
  text-align: center;
}

.lnb__link {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 31px;
  white-space: nowrap;
  color: #222;
  @include font-size("16");
}

.lnb__link:hover,
.lnb__link:focus {
  color: $secondary;
}

.lnb__item.lnb__item--current .lnb__link {
  color: $secondary;
}

.lnb__link:hover:before,
.lnb__link:focus:before {
  background: $secondary;
}

.lnb__item.lnb__item--current .lnb__link:before {
  background: $secondary;
}

.lnb__link {
  position: unset;
  display: block;
}


/* header button - 모바일시메뉴 */
.mobile-top-bar {
  display: none;
}

.header-mobile__close-button {
  display: none;

  .button--link .svg-icon{
    fill: $ui-02;
  }
}

.header-mobile__menu-button {
  position: absolute;
  display: none;
}

.mobile-top-bar__home-button {
  position: absolute;
  display: none;
  left: 0;
}

/* header open */
header.open-header,
header.open-header .header:not(.header-mobile),
header.open-header .header .header__inner,
header.open-header .nav {
  height: auto;
}

header.open-header .header {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  background: $ui-02;
  box-shadow: 0px 5px 5px 0 rgba(51, 51, 51, 0.2);
}

header.open-header .lnb {
  opacity: 1;
  height: auto;
  padding: 18px 0 33px;
}
header.open-header+main .main-container {
  padding-top: 94px;
}

