// -------------------------
// Badge
// -------------------------
.badges {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-grow: 1;

  .badge + .badge {
    margin: 0 0 0 rem(10px);
  }

  .badge {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: rem(1px);
      height: rem(14px);
      margin-top: rem(-7px);
      background-color: $ui-04;
    }
    &:first-child:before {
      content: none;
    }
  }
}

.badge--icon {
  width: rem(24px);
}

.badge {
  @include font-family("sans");
  @include font-weight("medium");
  @include font-smoothing;
  @include letter-spacing;
  @include font-size("13");
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: rem(70px);
  height: rem(24px);
  padding: 0 $spacing-sm;
  white-space: nowrap;
  user-select: none;
  border-radius: $field-border-radius;
  background-color: $hover-row;
  color: $gy-02;
  text-align: center;
  cursor: default;

  &--rounded {
    border-radius: rem(12px) !important;
  }

  &.badge--icon {
    padding: rem(3px);
  }
}

.badge__label {
  line-height: 1;
}

// 벤더
.badge--provider {
  padding: 0 rem(16px);
  height: rem(24px);
  background-color: transparent;
}

// -------------------------
// badge size
// 추후 디자인 결정되면 변경 예정
// -------------------------
.badge--lg {
  @include font-size("14");
  height: rem(32px);
  padding: 0 $spacing-xs;

  &--rounded {
    border-radius: rem(16px) !important;
  }

  &.badge--icon {
    width: rem(32px);
    padding: $spacing-2xs;
  }

  .badge__icon {
    width: rem(20px);
    height: rem(20px);
  }
}

.badge--sm {
  height: rem(18px);

  &--rounded {
    border-radius: rem(9px) !important;
  }

  &.badge--icon {
    width: rem(18px);
    padding: 0;
  }

  .badge__icon {
    width: rem(12px);
    height: rem(12px);
  }
}

// -------------------------
// theme color mixin
// -------------------------
@mixin badge-theme($bg-color, $icon-color, $font-color, $border-color: false) {
  background-color: $bg-color;
  border-radius: rem(3px);
  color: $font-color;

  .badge__icon {
    fill: $icon-color;
  }

  @if ($border-color) {
    border: 1px solid $border-color;

    .badge__label {
      color: inherit;
    }
  }
}

.badge--primary {
  @include badge-theme($primary, $text-04, $text-04);
}

.badge--secondary {
  @include badge-theme($secondary, $text-04, $text-04);
}

.badge--negative {
  @include badge-theme($negative, $text-04, $text-04);
}

.badge--positive {
  @include badge-theme($positive, $text-04, $text-04);
}

.badge--success {
  @include badge-theme($success, $text-04, $text-04);
}

.badge--dark {
  @include badge-theme($dark, $text-04, $text-04);
}

.badge--disabled {
  @include badge-theme($ui-05, $text-04, $text-04, $line2);
}

// -------------------------
// theme border color mixin
// -------------------------
@mixin badge-theme-outline($icon-color, $font-color, $border-color: false) {
  border: 1px solid currentColor;
  background-color: $ui-02;
  color: $font-color;

  .badge__icon {
    fill: $icon-color;
  }
  @if ($border-color) {
    border: 1px solid $border-color;
  }
}

.badge--outline {
  @include badge-theme-outline($basic, $gy-02, $line2);
}

.badge--primary-outline {
  @include badge-theme-outline($primary, darken($primary, 10%), $primary);
}

.badge--secondary-outline {
  @include badge-theme-outline($secondary, $secondary, $secondary);
}

.badge--negative-outline {
  @include badge-theme-outline(#f45555, #f45555, #f45555);
}

.badge--positive-outline {
  @include badge-theme-outline($positive, $positive, $positive);
}

.badge--success-outline {
  @include badge-theme-outline($success, $success, $success);
}

.badge--dark-outline {
  @include badge-theme-outline($basic, $dark, $dark);
}

.badge--disabled-outline {
  @include badge-theme-outline($light, $light, $line2);
}

// 한자연 소스 : KT 및 공통요소 불필요 소스(추후 삭세 요함)
.badge--w-gray {
  @include badge-theme($ui-02, $text-02, $text-02);
  border-radius: rem(12px);
  border: 1px solid $ui-04;
  padding: 0 rem(16px);
  height: rem(24px);

  .badge__label {
    height: rem(24px);
    line-height: rem(24px);
  }
}

.badge--w-primary {
  @include badge-theme($ui-02, $primary, $primary);
  border-radius: rem(12px);
  border: 1px solid rgba(0, 31, 96, 0.4);
  padding: 0 rem(16px);
  height: rem(24px);

  .badge__label {
    height: rem(24px);
    line-height: rem(24px);
  }
}

.badge--filetype-01 {
  @include badge-theme(#f0fff4, #2f855a, #2f855a);
  border-radius: 1px;
  border: none;
  height: rem(20px);
  margin-left: rem(3px);
  padding: 0 rem(4px);
  line-height: 0;

  .badge__label {
    @include font-size("12");
    @include font-weight("regular");
  }
}

.badge--filetype-02 {
  @include badge-theme(#ebf8ff, #2b6cb0, #2b6cb0);
  border-radius: 1px;
  border: none;
  height: rem(20px);
  margin-left: rem(3px);
  padding: 0 rem(4px);
  line-height: 0;

  .badge__label {
    @include font-size("12");
    @include font-weight("regular");
  }
}

.badge--filetype-03 {
  @include badge-theme(#faf5ff, #6b46c1, #6b46c1);
  border-radius: 1px;
  border: none;
  height: rem(20px);
  margin-left: rem(3px);
  padding: 0 rem(4px);
  line-height: 0;

  .badge__label {
    @include font-size("12");
    @include font-weight("regular");
  }
}

.badge--filetype-04 {
  @include badge-theme(#fff5f5, #c53030, #c53030);
  border-radius: 1px;
  border: none;
  height: rem(20px);
  margin-left: rem(3px);
  padding: 0 rem(4px);
  line-height: 0;

  .badge__label {
    @include font-size("12");
    @include font-weight("regular");
  }
}

.badge--filetype-05 {
  @include badge-theme(#fffff0, #b7791f, #b7791f);
  border-radius: 1px;
  border: none;
  height: rem(20px);
  margin-left: rem(3px);
  padding: 0 rem(4px);
  line-height: 0;

  .badge__label {
    @include font-size("12");
    @include font-weight("regular");
  }
}
