// New Design System
// @button-base                    || 모든 버튼에 사용되는 공통 스타일 믹스인
// 1. Type 별 Button 클래스          || 형태를 결정하는 버튼 유형 클래스 (기본은 md 사이즈)
// button                          || 기본 버튼
// button--icon                    || 아이콘 버튼
// 2. 6개 Theme별 Button 클래스
// @button-theme                   || 믹스인
// button--primary
// button--secondary
// button--tertiary
// button--link
// button--support
// button--danger
// button--negative
// button--underline
// button--underline-support
// button--underline-negative
// 3. Size별 Button 클래스            || 버튼 사이즈를 결정하는 클래스 (버튼 유형마다 여백이 달라짐)
// button--lg
// button--md
// button--sm
// button--xs            || 사이즈 추가

// -------------------------
// button-base
// -------------------------
@mixin button-base {
  @include button-normal;
  height: $button-height-md;
  border-radius: $button-border-radius;
  color: $gy-02;
  text-align: center;

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    opacity: 0.25;
    cursor: not-allowed;
  }
}

// -------------------------
// button-type
// -------------------------
// button: text, text with icon combination
@mixin button {
  @include button-base;
  padding: 0 ($spacing-lg - $spacing-2xs);
  border: 1px solid $ui-09;
  background-color: $ui-02;

  &:hover,
  &:focus {
    color: $ui-02;
    background-color: $ui-01;
    border-color: $ui-01;

    .svg-icon {
      clip-rule: evenodd;
      fill-rule: evenodd;
      fill : currentColor;
    }
  }

  .svg-icon {
    width: rem(18px);
    height: rem(18px);
    color: inherit;

    & + .button__text {
      margin-left: $spacing-2xs;
    }
  }

  &__text {
    line-height: 1;

    & + .svg-icon {
      margin-left: $spacing-2xs;
    }
  }
}

// button--icon: icon only style
@mixin button--icon($button-size, $icon-size, $button--icon-padding:false) {
  width: $button-size;

  @if ($button--icon-padding) {
    padding: 0 $button--icon-padding - 1;
  } @else {
    padding: 0;
  }

  .svg-icon {
    width: $icon-size;
    height: $icon-size;
  }
}

// -------------------------
// button-theme
// -------------------------
@mixin button-theme(
  $bg-color,
  $font-color,
  $hover-bg-color,
  $active-bg-color,
  $border-color: false,
  $border-width: one
) {
  background-color: $bg-color;
  color: $font-color;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $hover-bg-color;
  }

  &:active:not(:disabled) {
    background-color: $active-bg-color;
  }

  &:focus-visible:not(:disabled) {
    outline: 2px solid $default-focus;
  }

  @if $border-width == double {
    border-width: rem(2px);
  }

  .svg-icon {
    clip-rule: evenodd;
    fill-rule: evenodd;
    fill: $font-color;
  }

  @if ($border-color) {
    border-color: $border-color;
  }
}

@mixin button--primary {
  @include button-theme($primary, $white, $hover-primary, $active-primary);
  border: 0;
}

@mixin button--secondary {
  @include button-theme($secondary, $white, $hover-secondary, $active-secondary);
}

@mixin button--tertiary {
  @include button-theme($white, $text-02, $white, $white, $ui-04);

  &:hover:not(:disabled) {
    border-color: $secondary;
  }

  &:active:not(:disabled) {
    border-color: $secondary;
    color: $secondary;

    .svg-icon {
      fill: $secondary;
    }
  }
}

@mixin button--negative {
  @include button-theme($negative, $white, $hover-negative, $active-negative);
}

@mixin button--link {
  @include button-theme(transparent, $text-02, transparent, transparent, transparent);
  &:hover:not(:disabled) {
    color: $basic;
    border-color: transparent;

    .svg-icon {
      fill: #333;
    }
  }

  &:active {
    color: darken($text-02, 0.25);

    .svg-icon {
      fill: darken($text-02, 0.25);
    }
  }
}

@mixin button--support {
  @include button-theme($ui-02, $primary, #e1eaf7, #c6d8f2, $ui-04);
  // support 예외 사항
  &:hover:not(:disabled) {
    color: $primary;

    .svg-icon {
      fill: $primary;
    }
  }
}

@mixin button--danger {
  @include button-theme($ui-02, $negative, $negative, $active-negative, $ui-04);
  // danger 예외 사항
  &:hover:not(:disabled) {
    color: $text-04;
    border-color: $negative;

    .svg-icon {
      fill: $text-04;
    }
  }
}

@mixin button--underline {
  @include button-theme(transparent, $text-02, transparent, transparent);

  text-decoration: underline;
  padding: 0;

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    color: $text-03;

    .svg-icon {
      fill: $text-03;
    }
  }

  &:active {
    color: darken($text-02, 0.25);

    .svg-icon {
      fill: darken($text-02, 0.25);
    }
  }
}

@mixin button--underline-support {
  @include button-theme(transparent, $primary, transparent, transparent);

  text-decoration: underline;
  padding: 0;

  &:hover:not(:disabled) {
    color: $hover-primary;

    .svg-icon {
      fill: $hover-primary;
    }
  }

  &:active {
    color: darken($primary, 0.25);

    .svg-icon {
      fill: darken($primary, 0.25);
    }
  }
}

@mixin button--underline-negative {
  @include button-theme(transparent, $negative, transparent, transparent);

  padding: 0;
  text-decoration: underline;

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    color: $hover-negative;

    .svg-icon {
      fill: $hover-negative;
    }
  }

  &:active {
    color: darken($negative, 0.25);

    .svg-icon {
      fill: darken($negative, 0.25);
    }
  }
}


@mixin button--outline {
  @include button-theme($ui-02, $primary, #e1eaf7, #c6d8f2, $ui-04);

  // support 예외 사항
  &:hover:not(:disabled) {
    color: $primary;

    .svg-icon {
      fill: $primary;
    }
  }
}
// -------------------------
// button-size
// -------------------------
@mixin button-size(
  $font-size,
  $button-height,
  $icon-size,
  $button-width: false
) {
  height: $button-height;
  font-size: $font-size;

  .svg-icon {
    width: $icon-size;
    height: $icon-size;

    & + .button__text {
      margin-left: $spacing-2xs;
    }
  }

  .button__text {
    & + .svg-icon {
      margin-left: $spacing-2xs;
    }
  }

  .loader:not(.ng-hide) + .button__text {
    margin-left: $spacing-2xs;
  }

  @if ($button-width) {
    width: $button-width;
  }
}

@mixin button-padding(
  $padding-right,
  $padding-left
) {
  padding-right: $padding-right;
  padding-left: $padding-left;
}

@mixin button--lg {
  @include button-size(15px, $button-height-lg, 24px);
}

@mixin button--2xl {
  @include button-size(20px, 56px, 24px);
  @include button-padding($spacing-2xl, $spacing-2xl);
  @include font-weight("medium");
  @include font-size("20");
}

@mixin button--md {
  @include button-size(14px, $button-height-md, 18px);
}

@mixin button--sm {
  @include button-size(13px, $button-height-sm, 18px);
  @include button-padding($spacing-md - $spacing-3xs, $spacing-md - $spacing-3xs);
  @include font-weight("regular");
}
//button--xs 2022-07-01 ADD
@mixin button--xs {
  @include button-size(13px, $button-height-xs, 18px);
  @include button-padding($spacing-xs, $spacing-xs);
}

// -------------------------
// classes
// -------------------------
.button {
  @include button;
}

.button--icon {
  @include button--icon($button-height-md, 18px);

  &.button--lg {
    @include button--icon($button-height-lg, 32px);
  }

  &.button--sm {
    @include button--icon($button-height-sm, 18px);
  }

  &.button--xs {
    @include button--icon($button-height-xs, 14px);
  }
}

// button theme color classes
.button--primary {
  @include button--primary;
}

.button--secondary {
  @include button--secondary;
}

.button--tertiary {
  @include button--tertiary;
}

.button--negative {
  @include button--negative;
}

.button--link {
  @include button--link;
}

.button--support {
  @include button--support;
}

.button--danger {
  @include button--danger;
}

.button--underline {
  @include button--underline;
}

.button--underline-support {
  @include button--underline-support;
}

.button--underline-negative {
  @include button--underline-negative;
}

// button theme color bordered classes
@each $name, $color in $button-colors {
	.button--#{$name}-line {
		@include button-theme($white, $gy-02, $color, dargen($color, 5%), $color);

    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      color: $white;
      border-color: $color;
    }
	}
}

// button size classes
.button--md {
  @include button--md;
}

.button--lg {
  @include button--lg;

  .svg-icon + .button__text {
    margin-left: $spacing-xs * 0.75;
  }
}

.button--2xl {
  @include button--2xl;

  .svg-icon {
    @include svg-icon-size(24px);
    margin-right: $spacing-xs;
  }
}

.button--xl {
  .svg-icon {
    @include svg-icon-size(32px);
  }
}

.button--sm {
  @include button--sm;

  // 내부용은 기본과 디자인이 다름 2022-07-04 ADD
  &:hover,
  &:focus {
    border-color: $primary;
    background-color: $ui-02;
    color: $ui-01;
    .svg-icon {
      fill: $basic;
    }
  }
}

.button--xs {
  @include button--xs;
}

// link 테마 버튼이 icon만 사용되는 경우 예외 사항
//icon padding/icon size
.button--icon.button--link {
  @include button--icon(auto, 18px, 4px);
}

.button--icon.button--link.button--lg {
  @include button--icon(auto, 32px, 8px);
}

.button--icon.button--link.button--sm {
  @include button--icon(auto, 18px, 2px);
}

.button--icon.button--link.button--xs {
  @include button--icon(auto, 18px, 0);
}

// underline 테마 버튼일 때 예외 사항
.button--lg.button--underline,
.button--lg.button--underline-support,
.button--lg.button--underline-negative,
.button--sm.button--underline,
.button--sm.button--underline-support,
.button--sm.button--underline-negative {
  padding-left: 0;
  padding-right: 0;
}

// -------------------------
// Button group
// -------------------------
.button-group {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: rem(30px);

  .button {
    @include button--lg;
    min-width: rem(94px);

    &.button--icon {
      @include button--icon($button-height-lg, 32px);
    }
  }

  .button + .button {
    margin-left: rem(10px);
  }

  .button--right {
    position: absolute;
    top: 0;
    right: 0;
  }

  .button--left {
    position: absolute;
    top: 0;
    left: 0;
  }
}
