// -------------------------
// Radio
// -------------------------
.radio {
  display: block;
  position: relative;
}

.radios {
  display: flex;
}

.radios .radio:not(:last-of-type) {

}

.radios--vertical {
  flex-direction: column;
}

.radio__input {
  @include hidden;
}

.radio__label {
  @include line-height("heading");
  @include font-weight("regular");
  position: relative;
  display: flex;
  align-items: center;
  padding-left: $spacing-lg;
  min-height: $layout-xs;
  color: $text-02;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}

.radio__label::before,
.radio__label::after {
  box-sizing: border-box;
  transition: all $duration-fast-01 motion(entrance, productive);
}

.radio__label::before {
  content: "";
  width: rem(17px);
  height: rem(17px);
  margin: $spacing-3xs;
  position: absolute;
  left: 0;
  top: rem(1px);
  background-color: transparent;
  border: 1px solid $text-03;
  border-radius: 50%;
}

.radio__label::after {
  content: "";
  position: absolute;
  left: rem(7px);
  top: rem(8px);
  width: rem(7px);
  height: rem(7px);
  border-radius: 50%;
  background-color: $text-04;
}

// -------------------------
// sort check type
// -------------------------
.radio.radio--check {
  margin-left: rem(30px);

  .radio__label {
    padding: 0;
    color: $text-02;
    position: relative;

    &:hover {
      color: $point-03;
    }

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }

  }
}

.radio.radio--check+.radio.radio--check {

  &::before {
    content: "";
    position: absolute;
    left: rem(-15px);
    top: rem(6px);
    width: rem(1px);
    height: rem(12px);
    background-color: #ddd;
  }
}

.radio.radio--check .radio__input:checked +
.radio__label {
  padding: 0 0 0 rem(24px);
  color: $primary-dark;
  @include font-weight("medium");

  span:after {
    content: "";
    position: absolute;
    left: 0;
    top: rem(2px);
    width: rem(18px);
    height: rem(18px);
    background: $ui-02 url("#{$img-path}/icon/check-radio.svg") no-repeat center center;
    z-index: 1;
  }
}


// -------------------------
// 상태별 스타일
// -------------------------
// hover 상태
.radio__input:focus-visible:not(:disabled) {
  + .radio__label:before {
    outline: 2px solid $default-focus;
  }
}

.radio__label:hover::before {
  border-color: $secondary;
}

.radio.radio--check .radio__label:hover {
  color: $secondary;
}

// checked 상태
.radio__input:checked + .radio__label::before {
  background-color: $secondary;
  border-color: $secondary;
}

.radio__input:checked + .radio__label:hover::after {
  background-color: $text-04;
}

// disabled 상태
.radio--disabled .radio__label,
.radio__input:disabled + .radio__label {
  opacity: 0.4;
  cursor: not-allowed;

  &:hover {
    color: $text-03;

    &::before,
    &::after {
      border-color: $text-03;
    }
  }
}

// checked + disabled 상태
.radio__input:checked:disabled + .radio__label:hover::before {
  border-color: $secondary;
}

// -------------------------
// 크기별 스타일
// -------------------------
.radio--lg {
  .radio__label {
    @include font-size("16");
    padding-left: $spacing-lg + $spacing-2xs; //width of radio 20px + 8px of padding
    min-height: rem(28px);
  }

  .radio__label::before {
    content: "";
    width: rem(20px);
    height: rem(20px);
    margin: $spacing-3xs;
    top: rem(2px);
    border-width: 2px;
  }

  .radio__label::after {
    left: rem(8px);
    top: rem(10px);
    width: rem(8px);
    height: rem(8px);
  }
}


// -------------------------
// radio--icon only
// -------------------------
.radio.radio--icon .radio__label {
  width: rem(36px);
  height: rem(36px);
  padding: 0;
  justify-content: center;
}

.radio.radio--icon .radio__label:before,
.radio.radio--icon .radio__label:after {
  display: none;
}

.radio.radio--icon [class*="svg-"] {
  width: rem(32px);
  height: rem(32px);
  margin: 0;
  fill: $text-03;
}

.radio.radio--icon .radio__input:checked+.radio__label{
  border: 1px solid $secondary;
}

.radio.radio--icon .radio__input:checked+.radio__label [class*="svg-"]{
  fill: $secondary;
}

// --------------------------------------------------
// radio--right: input 과 label 위치가 바뀐 유형
// --------------------------------------------------
.radio.radio--right .radio__label:before {
  left: unset;
  right: 0;
}

.radio.radio--right .radio__label {
  padding-left: 0;
  padding-right: 24px;
}

.radio.radio--right .radio__label:after {
  left: unset;
  right: 7px;
}

// --------------------------------------------------
// radios--toggle: radio를 감싸는 상위 radios의 신규 테마
// --------------------------------------------------
.radios--toggle .radio {
  margin: 0 0 0 -1px;
}

.radios--toggle .radio:first-child {
  margin-left: 0
}

.radios--toggle .radio:not(:last-of-type) {
  margin-right: 0;
}

.radios--toggle .radio .radio__label {
  position: relative;
  width: rem(36px);
  height: rem(36px);
  padding: 0 15px;
  border: 1px solid $ui-04;
  transition: all 0.3s ease;
}

.radios--toggle .radio .radio__label:before {
  content: "";
  border: none;
  width: 0;
  margin: 0;
}

.radios--toggle .radio .radio__label:after {
  content: none;
}

.radios--toggle .radio__input:focus-visible:not(:disabled)+.radio__label:before {
  outline: unset;
}

.radios--toggle .radio__input:focus-visible:not(:disabled)+.radio__label {
  outline: 1px dashed $text-02;
}

.radios--toggle .radio .radio__input:checked+.radio__label {
  border-color: $secondary;
  background-color: $ui-02;
  z-index: 1;
}

.radios--toggle .radio .radio__input:checked+.radio__label:before,
.radios--toggle .radio .radio__input:checked+.radio__label:after {
  content: "";
  background: none;
}

.radios--toggle .radio .radio__input:checked+.radio__label {
  color: $ui-02;
}

.radios--toggle .radio:first-child:not(:last-child) .radio__label {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.radios--toggle .radio:last-child:not(:first-child) .radio__label {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

// --------------------------------------------------
// radio--toggle
// --------------------------------------------------

.radio--toggle .checkbox__label {
  position: relative;
  height: rem(32px);
  padding: 0 15px;
  border: 1px solid $ui-04;
  transition: all 0.3s ease;
}

.radio--toggle .checkbox__label:before {
  content: "";
  border: none;
  width: 0;
  margin: 0;
}

.radio--toggle .checkbox__label:after {
  content: none;
}

.radio--toggle .checkbox__input:focus-visible:not(:disabled)+.checkbox__label:before {
  outline: unset;
}

.radio--toggle .checkbox__input:focus-visible:not(:disabled)+.checkbox__label {
  outline: 1px dashed $text-02;
}

.radio--toggle .checkbox__input:checked+.checkbox__label {
  border-color: $primary;
  background-color: $primary;
  z-index: 1;
}

.radio--toggle .checkbox__input:checked+.checkbox__label:before,
.radio--toggle .checkbox__input:checked+.checkbox__label:after {
  content: "";
  background: none;
  border: none;
}

.radio--toggle .checkbox__input:checked+.checkbox__label {
  color: $ui-02;
}

// --------------------------------------------------
// checkbox--toggle 크기별 스타일
// --------------------------------------------------

.radio--toggle.checkbox--lg {
  .checkbox__label {
    @include font-size("16");
    height: rem(40px);
  }

}

.radio--toggle.checkbox--sm {
  .checkbox__label {
    @include font-weight("light");
    @include font-size("12");
    height: rem(24px);
    padding: 0 $spacing-sm;
  }
}
