.DS_Store
.classpath
.factorypath
.project
.settings
target
frontend/node_modules
frontend/package-lock.json
frontend/src/assets/style-core/*
src/main/resources/static/*
src/main/resources/templates/*
.vscode