//-------------------------------------------
//  search-input-field 기본 검색
// ------------------------------------------
// @search-filter    || 필터박스
// @search-filter__head    || 필터박스 > 헤더
// @search-filter__body    || 필터박스 > 바디
// @search-filter__list   || 필터박스 > 바디 > ul
// @search-filter__item   || 필터박스 > 바디 > ul > li

.search-input-field {
  position: relative;
}

.search-input-field__inner {
  display: flex;
  align-items: center;    
  justify-content: center;
}

.search-input-field__inner form,
.search-input-field__inner form fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-input-field__search {

}
//2022-06-29 MOD
.search-input-field__search .text-input-group {

  & ~ * {
    margin-left: $spacing-xs;
  }
}

.search-input-field__filter {
  display: flex;
  align-items: center;
  margin-left: rem(20px);
}

