.search {
  position: relative;
  width: rem(1280px);
  margin: 0 auto;
  background-color: $ui-02;
}

.search-head {
  position: relative;
  padding: $spacing-lg $spacing-lg $spacing-sm;
}

.search-head__title {
  @include font-weight("medium");
  display: block;
  font-size: 26px;
}

.search-head__breadcrumb {
  position: absolute;
  top: 3px;
  right: 0;

  .breadcrumb {
    background-color: transparent;
    border: none;
  }
}

// Mobile
@include mobile {
  .search {
    width: 100%;
  }

  .search-head{
    padding: $spacing-lg $spacing-sm $spacing-sm;
  }

  .search-head__title {
    @include font-size("16");
  }

  // 검색 필터
  .search-filter {
    margin: 0 $spacing-sm;
    padding: $spacing-sm;
  }

  .search-filter__item {
    flex-direction: column;
    align-items: flex-start;

    & + & {
      margin-top: $spacing-md;
    }
  }

  .search-filter__title {
    width: 100%;
  }

  .search-filter__form {
    width: 100%;
    margin-top: $spacing-xs;
    flex-wrap: wrap;

    + .checkbox {
      margin-left: 0;
      margin-top: $spacing-xs;
    }
  }

  .search-filter__select {
    flex-basis: 50%;
    padding-bottom: $spacing-xs;

    &:nth-child(2n) {
      padding-left: $spacing-2xs;
    }

    &:nth-child(2n+1) {
      padding-right: $spacing-2xs;
      padding-left: 0;
    }
  }

  .search-filter__controller {
    width: 100%;
    margin-left: inherit;
    margin-top: $spacing-xs;

    .button {
      flex: 1 1 50%;
    }
  }

  //  검색 결과
  .search-results{
    padding-left: 0;
    padding-right: 0;
  }

  .search-results__text {
    font-size: rem(15px);
    padding: $spacing-lg $spacing-sm $spacing-md;
  }

  .search-results__tab {
    .tab__bar {
      flex-wrap: wrap;
    }

    .tab__item {
      flex-basis: 33.33%;
    }
  }

  .search-results__content{
    padding: 0 $spacing-sm;
  }

  //  검색 결과 - 기사
  .article__topic-title {
    font-size: rem(15px);
  }

  .article__topic-text {
    @include font-size("12");
  }

  .article__controller {
    & + & {
      flex-basis: 100%;
      margin-left: 0;
      margin-top: $spacing-2xs;

      .select{
        margin-left: auto;
      }
    }
  }

  .article-list__link{
    margin-bottom: $spacing-sm;
    display:-webkit-box;
    max-height: rem(48px);
    line-height:rem(24px);
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    word-wrap:break-word;
    white-space: normal;
  }

  .article-list__text{
    max-height: rem(66px);
    line-height: rem(22px);
    -webkit-line-clamp: 3;
  }

  .article-list__information-text {
    @include font-size("12");
  }
}

// IE 대응
@include ie-resolution{
  .search-filter__select{
    flex-basis: 49%;
  }
}