.tab--search{
  .tab__bar{
    flex: 1;
  }

  .tab__item{
    flex: 1;
  }

  .tab__button{
    justify-content: center;
  }

  .tab__button-subtext{
    display: inline-block;
    @include font-weight("regular");
    color: $ui-01;
  }
  .tab__item--selected {
    .tab__button-subtext {
      color: $ui-02;
    }
  }
}

