.tab--search{
  .tab__bar{
    flex: 1;
  }

  .tab__item{
    flex: 1;
  }

  .tab__button{
    justify-content: center;
  }

  .tab__button-subtext{
    display: inline-block;  
    &::before {
      content:"(";
      margin-right: rem(2px); 
    }      
    &::after {
      content:")";
      margin-left: rem(2px); 
    }
  }
  .tab__item--selected {
    .tab__button-subtext {
      color: $ui-02;
      font-weight: inherit;
    }
  }
}

