// 데이터 상세정보
.contents__detail {
  margin-top: rem(20px);
  width: 100%;
  position: relative;

  h3 {
    width: 100%;
    height: rem(80px);
    line-height: rem(80px);
    border-bottom: 2px solid $primary;
    color: $primary;
    @include font-size("20");
    @include font-weight("bold");
    position: relative;
  }
}

.contents-outside__detail {
  margin-top: rem(20px);
  width: 100%;
  position: relative;
  display: none;

  h3 {
    width: 100%;
    height: rem(80px);
    line-height: rem(80px);
    border-bottom: 2px solid $primary;
    color: $primary;
    @include font-size("20");
    @include font-weight("bold");
    position: relative;
  }
}
// formbox
.formbox {
  position: relative;
  background: $ui-02;

  .badges {
    width: 100%;
    display: flex;
    flex-wrap: wrap;


    .badge--w-gray{
      height: rem(30px);
      border-radius: rem(15px);
      padding: 0 rem(20px);
      margin: 0 $spacing-2xs $spacing-2xs 0;
    }

    .badge__label {
      height: rem(30px);
      line-height: rem(27px);
    }

    .point {
      color: $secondary;
    }

  }
}

.formbox tr {
  height: rem(60px);
}

.formbox th,
.formbox td {
  line-height: 1.5;
  padding: $spacing-xs rem(20px);
  vertical-align: middle;
  @include font-size("14");
  @include font-weight("regular");

}

/* first row */
.formbox th {
  text-align: left;
  color: $text-01;
}

/* 가로형 */
.formbox--row {
  position: relative;
}

.formbox--row tr {
  height: auto;
}

.formbox--row th,
.formbox--row td {
  padding: $spacing-md rem(20px);
  border-bottom: 1px solid $field-border;
  border-right: 1px solid $field-border;
  text-align: left;
  @include font-size("14");
  @include font-weight("regular");
}

.formbox--row th {
  align-items: flex-start;
  background-color: $ui-05;
  color: $text-01;
}

.formbox--row td:last-child {
  border-right: none;
}

/* 세로형 */
.formbox--col tr {
  height: rem(50px);
}

.formbox--col th {
  background-color: $ui-05;
}

.formbox--col th,
.formbox--col td {
  padding: $spacing-md rem(20px);
  line-height: rem(20px);
  width: auto;
  text-align: center;
  border-right: 1px solid $field-border;
  @include font-size("14");
  @include font-weight("regular");
}

.formbox--col td {
  border-top: 1px solid $field-border;
}

.formbox--col th:last-child,
.formbox--col td:last-child {
  border-right: none;
}