// TODO : 개발자 임의 구현
// 검색-상세 페이지의 index.scss 파일을 붙여넣디.
// 07.06 공통 style이 존재함으로 불필요한 scss 소스임에 주석처리합니다.
// view--table component 스타일 문제점 임시 보완.
.contents__detail--temp {
  table {
    border-bottom-color: $line4;
  }

  & ~ & > .table-wrap {
    margin-top: 0;

    table {
      border-top: 0;
    }
  }
}

/*
.contens {
  padding-top: 0;
}
.contents__summary {
  position: relative;
  width: 100%;
  display: flex;
}

.outside-data {
  .contents__summary-information {
    figure {
      display: none;
    }
    .information__data {
      .badges {
        display: none;
      }
      .information__data-title {
        margin-top: 0;
      }
      .information__data-details {
        dl {
          display: none;
        }
        p {
          display: block;
        }
      }
    }
  }

  .contents__summary-provider {
    display: none;
  }

  .contents__detail {
    display: none;
  }

  .contents-outside__detail {
    display: block;
  }


}

// 데이터 요약 정보
.contents__summary-information {
  flex-grow: 1;
  border-radius: rem(30px);
  border: 1px solid $text-03;
  padding: $spacing-2xl rem(30px) rem(30px) $spacing-2xl;
  display: flex;

  figure {
    flex-shrink: 0;
    width: rem(150px);
    color: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-right: $spacing-lg;

    img {
      margin: 0 auto;
    }

    figcaption {
      @include font-size("16");
      @include font-weight("bold");
    }
  }

  .information__data {
    flex-grow: 1;

    .badges {
      width: 100%;
      display: flex;
      > * + * {
        margin-left: $spacing-2xs;
      }
    }

    .information__data-title {
      @include font-size("32");
      @include font-weight("medium");
      margin-top: rem(10px);
      color: $text-01;
    }

    .information__data-description{
      @include font-size("18");
      margin-top: $spacing-md;
      color: $text-02;
    }

    .information__data-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: rem(40px);

      dt{
        padding: 0;
        color: $text-02;
      }

      dd{
        padding: 0 $spacing-sm 0 $spacing-2xs;
        margin: 0;
        color: $text-03;
      }

      dl{
        display: flex;
      }

      p {
        display: none;
        color: $text-03;
      }
    }
  }
}

// 데이터 제공처
.contents__summary-provider {
  flex-shrink: 0;
  margin-left: rem(20px);
  border-radius: rem(30px);
  border: 1px solid $ui-04;
  width: rem(260px);
  padding: rem(20px) $spacing-xs;
  display: flex;
  flex-direction: column;

  .provider__logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-content: center;

    img {
      margin: auto;
      width: 78%;
      height: auto;
    }
    .provider__logo-text {
      @include font-size("24");
      @include font-weight("bold");
      color: $primary;
      margin: auto;
    }
  }
  .provider__datainfo {
    flex-shrink: 0;
    height: rem(80px);
    display: flex;

    .datainfo-views {
      flex-shrink: 0;
      width: 50%;
      display: flex;
      flex-direction: column;
    }
    .datainfo-download {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      border-left: 1px solid $ui-01;
    }

    .amount {
      @include font-size("28");
      @include font-weight("bold");
      color: $text-02;
      text-align: center;
      flex-grow: 1;
    }

    .title {
      @include font-size("14");
      @include font-weight("regular");
      color: $text-03;
      text-align: center;
      flex-shrink: 0;
      height: rem(30px);

      span {
        padding-left: $spacing-2xs;
      }
      .svg-icon {
        fill: $text-03;
      }
    }
  }
}
// 데이터 상세정보
.contents__detail {
  margin-top: rem(20px);
  width: 100%;
  position: relative;

  h3 {
    width: 100%;
    height: rem(80px);
    line-height: rem(80px);
    border-bottom: 2px solid $primary;
    color: $primary;
    @include font-size("20");
    @include font-weight("bold");
    position: relative;
  }
}

.contents-outside__detail {
  margin-top: rem(20px);
  width: 100%;
  position: relative;
  display: none;

  h3 {
    width: 100%;
    height: rem(80px);
    line-height: rem(80px);
    border-bottom: 2px solid $primary;
    color: $primary;
    @include font-size("20");
    @include font-weight("bold");
    position: relative;
  }
}

// formbox
.formbox {
  position: relative;
  background: $ui-02;

  .badges {
    width: 100%;
    display: flex;
    flex-wrap: wrap;


    .badge--w-gray{
      height: rem(30px);
      border-radius: rem(15px);
      padding: 0 rem(20px);
      margin: 0 $spacing-2xs $spacing-2xs 0;
    }

    .badge__label {
      height: rem(30px);
      line-height: rem(27px);
    }

    .point {
      color: $secondary;
    }

  }
}

.formbox tr {
  height: rem(60px);
}

.formbox th,
.formbox td {
  line-height: 1.5;
  padding: $spacing-xs rem(20px);
  vertical-align: middle;
  @include font-size("14");
  @include font-weight("regular");

}

// first row
.formbox th {
  text-align: left;
  color: $text-01;
}

// 가로형
.formbox--row {
  position: relative;
}

.formbox--row tr {
  height: auto;
}

.formbox--row th,
.formbox--row td {
  padding: $spacing-md rem(20px);
  border-bottom: 1px solid $field-border;
  border-right: 1px solid $field-border;
  text-align: left;
  @include font-size("14");
  @include font-weight("regular");
}

.formbox--row th {
  align-items: flex-start;
  background-color: $ui-05;
  color: $text-01;
}

.formbox--row td:last-child {
  border-right: none;
}

// 세로형
.formbox--col tr {
  height: rem(50px);
}

.formbox--col th {
  background-color: $ui-05;
}

.formbox--col th,
.formbox--col td {
  padding: $spacing-md rem(20px);
  line-height: rem(20px);
  width: auto;
  text-align: center;
  border-right: 1px solid $field-border;
  @include font-size("14");
  @include font-weight("regular");
}

.formbox--col td {
  border-top: 1px solid $field-border;
}

.formbox--col th:last-child,
.formbox--col td:last-child {
  border-right: none;
}

// 데이터 본문 정보
.contents__detail-original {
  width: 100%;
  max-height: rem(300px);
  padding: rem(30px);
  overflow: auto;
  border-bottom: 1px solid $field-border;
}

// 샘플 데이터 미리보기
.contents__detail-sample {
  width: 100%;
  max-height: rem(300px);
  overflow: auto;
  border-bottom: 1px solid $field-border;

}

// 파일 데이터
.contents__detail-filedata-option {
  position: absolute;
  top: 40%;
  right: 0;
  height: rem(32px);
  display: flex;

  p {
    padding: $spacing-2xs $spacing-2xs 0 0;
    color: $text-03;
    @include font-size("14");
    @include font-weight("regular");
    line-height: rem(32px);
  }

  .filedata__button-analysis {
    background: $secondary;
    margin: 0 rem(5px);
    border-radius: rem(5px);
    padding: 0 rem(20px);

    .svg-icon {
      fill: $ui-02;
      width: rem(16px);
      height: rem(16px);
    }

    .button__text {
      padding: 0 0 0 rem(4px);
      @include font-size("14");
      @include font-weight("medium");
      line-height: rem(14px);
      color: $ui-02;
    }

    &:hover {
      background: $hover-secondary;
    }

  }

  .filedata__button-alldownload {
    background: $ui-02;
    margin: 0;
    border-radius: rem(5px);
    border : 1px solid $ui-04;
    padding: 0 rem(20px);

    .svg-icon {
      fill: $text-02;
      width: rem(16px);
      height: rem(16px);
    }

    .button__text {
      padding: 0 0 0 rem(4px);
      @include font-size("14");
      @include font-weight("regular");
      line-height: rem(14px);
      color: $text-01;
    }

    &:hover {
      border-color: $secondary;
    }

    &:active {
      border-color: $secondary;

      .svg-icon {
        fill: $secondary;
      }
      .button__text {
        color: $secondary;
      }
    }

  }
}

.filedata__list {
  border-bottom: 1px solid $ui-04;

  .filedata__item {
    display: flex;
    justify-content: center;
  }

  .filedata__item-title {
    flex-grow: 1;
    height: rem(60px);
    line-height: rem(60px);
    color: $text-01;
    padding-left: $spacing-md;
  }

  .filedata__button-preview {
    flex-shrink: 0;
    width: rem(80px);
    height: rem(32px);
    position: relative;
    background: transparent;
    border: none;
    line-height: rem(32px);
    margin-top: $spacing-sm;

    &:before {
      content: "미리보기";
      position: absolute;
      right: rem(16px);
      top: rem(2px);
      @include font-size("14");
      @include font-weight("regular");
      color: $text-03;
    }

    &:after {
      content: "";
      width: rem(7px);
      height: rem(7px);
      border-top: 2px solid $text-01;
      border-right: 2px solid $text-01;
      display: inline-block;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      transition: all .1s;
      position: absolute;
      top: rem(11px);
      right: 0;
      border-radius: 2px;
    }

    &:hover {
      color: $secondary;
    }
  }

  .filedata__button-close {
    flex-shrink: 0;
    width: rem(80px);
    height: rem(30px);
    position: relative;
    background: transparent;
    border: none;
    line-height: rem(30px);
    margin-top: $spacing-sm;

    &:before {
      content: "닫기";
      position: absolute;
      right: rem(16px);
      top: rem(2px);
      @include font-size("14");
      @include font-weight("regular");
      color: $text-03;
    }

    &:after {
      content: "";
      width: rem(7px);
      height: rem(7px);
      border-top: 2px solid $text-01;
      border-right: 2px solid $text-01;
      display: inline-block;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition: all .1s;
      position: absolute;
      top: rem(15px);
      right: 0;
      border-radius: 2px;
    }

    &:hover {
      color: $secondary;
    }
  }

  .filedata__button-download {
    flex-shrink: 0;
    width: rem(32px);
    height: rem(32px);
    background: $ui-02;
    margin: $spacing-sm 0 0 $spacing-md;
    border-radius: rem(5px);
    border : 1px solid $ui-04;

    .svg-icon {
      width: rem(16px);
      height: rem(16px);
      fill: $text-02;
    }

    &:hover {
      border-color: $secondary;
    }

    &:active {
      border-color: $secondary;

      .svg-icon {
        fill: $secondary;
      }
    }
  }



}
.filedata__content {
  width: calc(100% - 32px);
  max-height: rem(240px);
  overflow: auto;
  margin: 0 $spacing-md 0 $spacing-md;
  border-top: 1px solid $text-03;
  display: none;
}

.open-filedata .filedata__content {
  display: block;
}

.contents__detail-used {

  li {
    border-bottom: 1px solid $ui-04;
    height: rem(60px);
    display: flex;
    align-items: center;
  }
}

.used__badge {
  flex-shrink: 0;
}

.used__title {
  flex-shrink: 0;
  width: rem(240px);
  padding-left: $spacing-lg;
  color: $text-01;
  @include font-size("14");
  @include font-weight("bold");
}

.used__description {
  flex-grow: 1;
  color: $text-02;
  padding-left: rem(10px);
  @include font-size("14");
  @include font-weight("regular");
}

.used__date {
  flex-shrink: 0;
  width: rem(100px);
  color: $text-03;
  @include font-size("14");
  @include font-weight("regular");
}

.used__button {
  flex-shrink: 0;
  width: rem(90px);
  height: rem(32px);
  line-height: rem(32px);
  background: $ui-02;
  border-radius: rem(5px);
  border : 1px solid $ui-04;
  color: $text-01;
  @include font-size("14");
  @include font-weight("regular");

  &:hover {
    border-color: $secondary;
  }

  &:active {
    border-color: $secondary;
    color: $secondary;
  }
}

.contents__detail-recommend {
  width: 100%;
  position: relative;


}
*/
*/
