// -------------------------
// data-box 데이터 요약 정보 : data-box__visual + data-box__information + data-box__buttons
// -------------------------
// @data-box                    || 공통데이터박스
// @data-box__visual            || 이미지영역(svg)
// @data-box__information       || 데이터영역 information
// @data-box__top-content       || 데이터영역 information > top
// @data-box__content           || 데이터영역 information > middle
// @data-box__bottom-content    || 데이터영역 information > bottom
// @data-box__buttons           || 오른쪽에 버튼영역


.data-box {
  display: flex;
  position: relative;
  align-items: stretch;
  width: 100%;
  padding: rem(15px) 0;
}

.data-box__visual {
  width: 150px;
  height: 150px;
  border-radius: rem(5px);
  background-color: $ui-02;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }
}

.data-box__information {
  display: flex;
  flex-direction: column;
  min-height: rem(138px); 
  padding: rem(5px) 0;   

  &:not(:only-child) {
    flex: 1 1 0%;
    min-width: auto;
  }

  &:not(:only-child):first-child {
    margin-right: rem(40px);
  }

  &:not(:first-child):not(:last-child) {
    flex: 1 1 0%;
    min-width: auto;
    margin: 0 rem(40px) 0 rem(30px);
  }
}

.data-box__top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: rem(25px);

  > * + * {
    margin-left: $spacing-xs;
  }
}

.data-box__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: rem(10px) 0 0 0;

  &:not(:last-child) {
    margin-bottom: $spacing-md;
  }
}

.data-box__link {
  display: block;
  width: 100%;
}

.data-box__title {
  @include font-weight("medium");
  @include font-size("20");
  color: $text-01;
  flex-grow: 1;
  overflow: hidden;
}

.data-box__description {
  margin-top: $spacing-md;
  color: $text-02;
}

.data-box__bottom-content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.data-box__details {
  display: flex;
  align-items: center;
  width: 100%;
}

.data-box__details-group {
  display: flex;
  flex-shrink: 0;

  dl + dl {
    margin-left: $spacing-sm;
    padding-left: $spacing-sm;
  }

  dl {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: rem(1px);
        height: $spacing-sm;
        background: #d4d7dc;
        transform: translateY(-50%);
      }
    }
  }

  dt {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: $text-02;
    @include font-size("14");
  }

  dd {
    position: relative;
    margin-left: rem(8px);
    white-space: nowrap;
    color: $text-01;
    @include font-size("14");
  }
}

.data-box__buttons {
  position: relative;
  display: grid;
  grid-gap: rem(7px) 0;
  grid-template-rows: rem(38px) rem(38px) auto;
  width: rem(110px);

  .button {
    display: block;
    width: 100%;
    height: rem(38px);
    padding: rem(5px) 0;
  }

  .button--primary-line {
    border-width: 2px;
  }
}

// 관심데이터 버튼
.favorite-cnt {
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: $button-border-radius;
  background-color: #fff;

  .favorite-cnt__button {
    display: flex;
    align-items: center;
    height: auto;

    .button__text {      
      @include font-size("13");
    }

    &,
    &:hover,
    &:focus {
      border: 1px solid #fff;
      background-color: #fff;
      color: #999;
    }

    .svg-icon {
      width: rem(32px);
      height: rem(32px);
      fill: #fff;
      stroke: #ccc;
      stroke-miterlimit: 10;

      & + span {
        margin: 0 rem(4px) 0 0;
      }
    }

    &.favorite-cnt__button--selected {
      .svg-icon {
        fill: #ea212a;
        stroke: transparent;
        stroke-miterlimit: 10;
      }
    }
  }
}

// 데이터 정보의 게시물 상태(관심/조회/다운)
.data-box__options {
  position: relative;
  display: flex;
  align-items: center;

  dt {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: $text-02;
    @include font-size("14");

    &:not(:first-child) {
      margin-left: $spacing-sm;
    }
  }

  dd {
    position: relative;
    margin-left: rem(4px);
    white-space: nowrap;
    color: $text-01;
    @include font-size("14");
  }

  .svg-icon {
    fill: #999;
  }
}

// 데이터 정보 목록형
.data-box-list {
  width: 100%;
  border-top: 1px solid #333;

  & > li {
    border-bottom: 1px solid #e5e5e5;
  }
  & > li:last-child {
    border-color: #ccc;
  }

  .data-box__title {
    @include multi-text-overflow(24px, 1);
  }
  
  .data-box__description {
    @include multi-text-overflow(18px, 1);
  }
}