.combo-box {
  z-index: 5;
  position: absolute;
  top: 48px;
  width: 100%;
  background: $ui-02;
  border: 1px solid $ui-01;
  text-align: left;
  display: none;
}

.combo-box[class*="open"] {
  display: block;
}

.combo-box__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $spacing-md 0 $spacing-md;
  background: $ui-05;
  color: $text-01;
}

.recent-search_hidden {
  display: none;
}

.autocomplete {
  position: relative;
  border: none;
  background: none;
  padding: $spacing-sm 0;
  display: none;
}

.autocomplete_show {
  display: block;
}

.autocomplete__item {
  height: rem(36px);
  padding: 0;

  &:hover {
    background: rgba(#00479d, .04);
  }

  &+& {
    margin-top: 1px;
  }
}

.autocomplete__link {
  @include text-overflow(100%);
  display: flex;
  align-items: center;
  height: 100%;
  color: $basic;
  padding: 0 rem(30px);
}

.autocomplete__item .autocomplete__title {
  font-weight: 500;
  color: $primary;
}

.autocomplete--open-history {
  .autocomplete__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .autocomplete__item button {
    margin-right: $spacing-sm;
  }
}

.recent-search{
  background: none;
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 rem(30px) rem(30px) rem(30px);
}

.recent-search__list{
  display: flex;
  flex-wrap: wrap;
  padding: 0 rem(30px);
}

.keyword{
  float: left;
  position: relative;
  border-radius: rem(15px);
  margin: 0 $spacing-2xs $spacing-2xs 0;
  padding: rem(5px) rem(30px) rem(5px) rem(15px);
  border: none;
  background: #fff;
  @include font-size("13");
  color: $text-01;

  &:hover {
    background: $hover-ui-accent;
    color: $secondary;
  }

  .keyword__button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: rem(5px);
    width: rem(16px);
    height: rem(16px);
    background: none;

    .svg-icon {
      width: rem(16px);
      height: rem(16px);
    }

  }

}

// IDC 오버라이딩
.text-input-group--lg .text-input:nth-last-child(4):not(div){
  padding-right: $spacing-sm * 6 !important;
}
