.data-box-list {
  width: 100%;
  padding: $spacing-lg 0;

  & > li {
    border-bottom: 1px solid #ccc;
  }
}

.data-box {
  padding: rem(20px) 0;
}

.data-box__title {
  @include multi-text-overflow(24px, 1);
}

.data-box__description {
  @include multi-text-overflow(18px, 1);
}
