.data-box-list {
  width: 100%;
  padding: $spacing-lg 0;
}

.data-box {
  display: flex;
  position: relative;
  align-items: center;
  padding: rem(30px) rem(20px) rem(24px) rem(20px);
  border-radius: $button-border-radius;
  border-bottom: rem(1px) solid $ui-04;
}

.data-box__inner{
  display: flex;
  align-items: center;
  width: 100%;
}

.data-options {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  position: relative;

  > * + * {
    margin-left: $spacing-2xs !important;
  }
}

.data-options__tooltip {
  position: relative;

  .tooltip-studio{
    top: calc(100% + 12px);
    right: -6px;
  }
}

.data-box__visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: $spacing-lg;

  .svg-icon {
    width: rem(70px);
    height: rem(70px);
    fill: $primary;
  }
}

.data-box__label {
  @include text-overflow(100%);
  @include font-size("16");
  color: $primary;
}

.data-box__information {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.data-box__link {
  display: flex;
  width: 100%;
}

.data-box__top-content {
  display: flex;
  position: relative;
  height: rem(25px);

  > * + * {
    margin-left: $spacing-xs;
  }
}

.badge--provider-logo {
  display: none;
}

.data-box__content {
  margin: rem(20px) 0 $spacing-2xs 0;
  display: flex;
  flex-wrap: nowrap;
}

.data-box__title {
  @include multi-text-overflow(24px, 1);
  @include font-weight("medium");
  @include font-size("24");
  color: $text-01;
  flex-grow: 1;
  overflow: hidden;
}

.data-filetype {
  flex-shrink: 0;
  display: flex;

}

.data-box__description {
  @include multi-text-overflow(18px, 1);
  @include font-size("14");
  margin-top: $spacing-xs;
  color: $text-02;
}

.data-box__bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
}

.data-box__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: $spacing-2xl 0 $spacing-2xs ;

  
}

.data-box__details-group {
  display: flex;
  flex-shrink: 0;
  padding-top: rem(10px);

  dl {
    display: flex;
    align-items: center;

  }

  dt {
    @include font-size("12");
    display: flex;
    padding-left: $spacing-md;
    align-items: center;
    white-space: nowrap;
    color: $text-02;

    .svg-icon {
      margin-right: $spacing-3xs;
    }

    &:first-child{
      padding: 0;
    }
  }

  dd {
    @include font-size("12");
    position: relative;
    margin-left: $spacing-2xs;
    white-space: nowrap;
    color: $text-05;
  }

}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-grow: 1;

  .tag, .tag__label {
    @include text-overflow();
  }

  .tag + .tag {
    margin-left: $spacing-2xs;
  }
}

.company-group {
  display: flex;
  align-items: center;
}

.company-group__icon.svg-icon {
  fill: $text-01;
}

.company-group__text {
  margin-left: $spacing-2xs;
  color: $text-01;
}

.data-box__keyword{
  display: none;
}

// 카드형 UI
.data-box-list--card.data-box-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: rem(-20px);
    margin-right: rem(20px);
    width: calc(100% + 20px);
  

  .data-box {
    width: 320px;
    margin: rem(20px) 0 0 rem(20px);
    flex-direction: column;
    align-items: flex-start;
    border: none;
    border-radius: 0;
    padding: 0;
  }

  .data-box__link {
    padding: rem(30px);
    width: unset;
    border: 1px solid $ui-03;
    border-radius: rem(20px);

    &:hover {
      border-color: $secondary;
    }
  }

  .data-box__top-content{
    display: flex;
    height: unset;
    position: relative;
  }

  .badges {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .data-options {
    position: absolute;
    top: 0;
    right: 0;
  }

  .badge--provider-logo {
    width: 100%;
    height: $spacing-xl;
    line-height: $spacing-lg;
    display: block;
    flex-shrink: 0;
    margin-bottom: $spacing-sm;

    span {
      @include font-size("16");
      @include font-weight("bold");
      color: $primary;
    }
    
    img {
      width: auto;
      max-height: 100%;
    }
  }

  .badge--w-gray {
    flex-grow: 0;
  }

  .badge--w-primary {
    flex-grow: 0;
  }
  
  .badge--provider {
    display: none;
  }

  .data-filetype {
    display: none;
  }

  .data-box__title {
    @include multi-text-overflow(28px, 2);
    @include font-weight("medium");
    @include font-size("20");
    color: $text-01;
    flex-grow: 1;
    overflow: hidden;
  }

  .data-box__description {
    @include multi-text-overflow(20px, 2);
    @include font-size("14");
    margin-top: $spacing-sm;
    color: $text-02;
  }

  .data-box__bottom-content{
    flex-direction: column;
    align-items: flex-start;
  }

  .data-box__details {
    align-items: center;
    margin: 0;
  }

  .data-box__details .tags {
    display: none;
  }

  .data-box__details-group {
    flex-direction: column;
    align-items: flex-start;
    margin-top: rem(24px);

    dt{
      padding: 0;
    }

    dd{
      padding: 0 $spacing-sm 0 $spacing-2xs;
      margin: 0;
      &:after{
        content: none;
      }
    }

    .dl--hidden{
      display: none;
    }
  }

}

/* 반응형
// breakpoints
@include template-respond-to('breakpoint-xl') {
  .data-box-list.data-box-list--card {
    .data-box {
      width: calc(50% - 26px);
    }
  }
}

@include template-respond-to('breakpoint-lg') {

  .data-box__item {
    flex-direction: column;
    align-items: flex-start;

    .data-transaction {
      margin: 0;
      padding: 0;

      &:after {
        content: none;
      }
    }
  }

  .data-box__bottom-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .data-box__transaction {
    width: 100%;
    margin-top: $spacing-md;
  }

  .data-box__details{
    flex-direction: column;
    align-items: flex-start;
  }

  .data-box-list.data-box-list--card {
    .data-box__details {
      flex-direction: row;
    }
  }
}

@include template-respond-to('breakpoint-md') {
  .data-box-list.data-box-list--card {
    .data-box {
      width: calc(100% - 26px);
    }
  }
}
*/