.tab--search{
  .tab__bar{
    flex: 1;
  }

  .tab__item{
    flex: 1;
  }

  .tab__button{
    justify-content: center;
  }

  .tab__button-subtext{
    @include font-size("12");
    @include font-weight("regular");
    line-height: rem(12px);
    color: $text-03;
  }
  .tab__item--selected {
    .tab__button-subtext {
      color: $ui-02;
    }
  }
}

