/* 목록형 기본 그리드
    ***************************************************************************/
/* table */
.table--board {
  width: 100%;
  background: $ui-02;
  color: $ui-03;
  border: 0;

  tbody > tr > th,
  tfoot > tr > th,
  tbody > tr > td,
  tfoot > tr > td {
    padding: $spacing-xs $spacing-md;
    border-bottom: 1px solid $ui-04;
  }

  th, td {
    padding: $spacing-xs 20px;
    vertical-align: middle;
  }

  .tl {
    text-align: left !important;
  }

  .data-label, .inner-mobile {
    display: none;
  }
}

.table--board thead {
  tr {
    height: rem(56px);
  }

  th {
    position: relative;
    border-top: 2px solid $text-01;
    border-bottom: 1px solid $ui-04;
  }

  th:first-child:before {
    content: none;
  }

  th:before {
    content: "";
    position: absolute;
    left: 0;
    top: rem(20px);
    width: rem(1px);
    height: rem(14px);
    background: $ui-04;
  }
}

.table--board tbody {
  tr {
  height: rem(50px);
  }

  td {
    color: $text-02;
    text-align: center;
  }

  td a {
    overflow: hidden;
    display: inline-block;
    line-height: 1.3;
    max-width: calc(100% - 55px);
    color: $text-01;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  td a:hover,
  td a:hover * {
    color: $primary;
  }
}

/* 화면 너비 0 ~ 930px */
@include template-respond-to('breakpoint-lg') {

  /* only PC */
  .pc-only {
    display: none !important;
  }

  /* only Mobile */
  .mobile-only {
    display: block !important;
  }

  /* mobile-show 공통분리 */
  .data-label {
    display: inline-block;
    margin-right: $spacing-2xs;
    font-size: inherit;
    font-weight: inherit;
  }

  .inner-mobile {
    position: relative;
    display: flex !important;
    flex-wrap: wrap;
    margin-top: rem(10px);
  }

  /* 목록형 기본 그리드
        ***************************************************************************/
  /* 모바일에서 리스트형태 */
  .table--board {
    border-top: 2px solid $text-01;

    colgroup {
      display: none;
    }

    td:not(.mobile-show) {
      display: none;
    }

    td.mobile-show {
      display: block;
      height: auto;
      padding: $spacing-xs;
    }

    td.mobile-show a {
      white-space: normal;
    }
  }

  .table--board thead{
    tr {
      height: 0;
    }

    th {
      display: none;
    }
  }

  .table--board tbody {
    & > tr {
      width: 100%;
    }

    td {
      padding: rem(26px) 0 rem(18px);
    }

    td a {
      font-size: 16px;
      width: 100%;
    }

    td.mobile-show .svg-icon {
      vertical-align: top;
    }

    td.mobile-show a {
      width: auto;
    }

    .inner-mobile .data-info dl {
      margin: 0;
    }
  }

  /* 모바일에서 기본 테이블형태 유지 */
  .mob-tbl {
    thead > tr {
      height: rem(56px);
    }

    thead > tr > th.mobile-show:before {
      display: none;
    }

    thead > tr > th.mobile-show+th.mobile-show:before {
      display: block;
    }

    tbody > tr > td {
      min-height: rem(50px);
    }

    tbody > tr > td a {
      max-width: 100%;
    }

    colgroup {
      display: table-column-group;
    }

    col {
      display: none;
    }

    col.mobile-show {
      display: table-column !important;
    }

    .mobile-show {
      display: table-cell !important;
    }

    .inner-mobile, .data-info {
      display: none !important;
    }
  }

}
