// UI Color Scheme
$white-0: #fff !default;

// Support Colors
$green-41: #40c057 !default;
$green-31: #8ce99a !default;
$green-21: #b2f2bb !default;
$green-11: #d3f9d8 !default;
$blue-42: #1e88e5 !default;
$blue-32: #74c0fc !default;
$blue-22: #a5d8ff !default;
$blue-12: #d0ebff !default;
$orange-41: #fd7e14 !default;
$orange-31: #ffa94d !default;
$orange-21: #ffd8a8 !default;
$orange-11: #ffe8cc !default;
$red-41: #f03e3e !default;
$red-31: #ff8787 !default;
$red-21: #ffc9c9 !default;
$red-11: #ffe3e3 !default;

// Accent Colors
$blue-10: #edf4ff !default;
$blue-20: #c9deff !default;
$blue-30: #97c1ff !default;
$blue-40: #6ea6ff !default;
$blue-50: #408bfc !default;
$blue-60: #0062ff !default;
$blue-70: #054ada !default;
$blue-80: #0530ad !default;
$blue-90: #061f80 !default;
$blue-100: #051243 !default;
$cool-gray-10: #f2f4f8 !default;
$cool-gray-20: #dde1e6 !default;
$cool-gray-30: #ced3d9 !default; // $gray-1
$cool-gray-40: #a2a9b0 !default;
$cool-gray-50: #878d96 !default;
$cool-gray-60: #697077 !default;
$cool-gray-70: #4d5358 !default; // $navy-gray-10
$cool-gray-80: #343a3f !default;
$cool-gray-90: #21272a !default;
$cool-gray-100: #121619 !default;
$cyan-10: #e5f6ff !default;
$cyan-20: #bae6ff !default;
$cyan-30: #82cfff !default;
$cyan-40: #33b1ff !default; // $blue-31
$cyan-50: #1192e8 !default; // $blue-41
$cyan-60: #0072c3 !default; // $blue-51
$cyan-70: #00539a !default;
$cyan-80: #003a6d !default;
$cyan-90: #012749 !default;
$cyan-100: #061727 !default;
$gold-10: #fffbe6 !default;
$gold-20: #fff1b8 !default;
$gold-30: #ffe58f !default;
$gold-40: #ffd666 !default;
$gold-50: #ffc53d !default;
$gold-60: #faad14 !default;
$gold-70: #d48806 !default;
$gold-80: #ad6800 !default;
$gold-90: #874d00 !default;
$gold-100: #613400 !default;
$gray-10: #f3f3f3 !default;
$gray-20: #e4e4e4 !default;
$gray-30: #bebebe !default;
$gray-40: #a8a8a8 !default;
$gray-50: #8d8d8d !default;
$gray-60: #6f6f6f !default;
$gray-70: #565656 !default;
$gray-80: #3d3d3d !default;
$gray-90: #282828 !default;
$gray-100: #171717 !default;
$green-10: #defbe6 !default;
$green-20: #a7f0ba !default;
$green-30: #6fdc8c !default;
$green-40: #42be65 !default; //$green-41
$green-50: #24a148 !default;
$green-60: #198038 !default;
$green-70: #0e6027 !default;
$green-80: #044317 !default;
$green-90: #022d0d !default;
$green-100: #071908 !default;
$magenta-10: #fff0f7 !default;
$magenta-20: #ffd6e8 !default;
$magenta-30: #ffafd2 !default;
$magenta-40: #ff7eb6 !default;
$magenta-50: #ee5396 !default;
$magenta-60: #d12771 !default;
$magenta-70: #9f1853 !default;
$magenta-80: #740937 !default;
$magenta-90: #510224 !default;
$magenta-100: #2a0a18 !default;
$navy-gray-10: #e9edf2 !default; // $navy-gray-14
$navy-gray-20: #dee5ed !default;
$navy-gray-30: #b0c2d0 !default; // $navy-gray-13
$navy-gray-40: #8a9ead !default;
$navy-gray-50: #687d8d !default; // $navy-gray-12
$navy-gray-60: #425e6c !default; // $navy-gray-11
$navy-gray-70: #2b4553 !default;
$navy-gray-80: #213945 !default;
$navy-gray-90: #182a38 !default;
$navy-gray-100: #0b161e !default;
$orange-10: #fff7e6 !default;
$orange-20: #ffe7ba !default;
$orange-30: #ffd591 !default;
$orange-40: #ffc069 !default;
$orange-50: #ffa940 !default;
$orange-60: #fd7e14 !default;
$orange-70: #d46b08 !default;
$orange-80: #ad4e00 !default;
$orange-90: #873800 !default;
$orange-100: #612500 !default;
$purple-10: #f6f2ff !default;
$purple-20: #e8daff !default;
$purple-30: #d4bbff !default;
$purple-40: #be95ff !default;
$purple-50: #a56eff !default;
$purple-60: #8a3ffc !default;
$purple-70: #6929c4 !default;
$purple-80: #491d8b !default;
$purple-90: #31135e !default;
$purple-100: #1c0f30 !default;
$red-10: #fff1f1 !default;
$red-20: #ffd7d9 !default;
$red-30: #ffb3b8 !default;
$red-40: #ff8389 !default;
$red-50: #f03e3e !default;
$red-60: #da1e28 !default;
$red-70: #a2191f !default;
$red-80: #750e13 !default;
$red-90: #520408 !default;
$red-100: #2d0709 !default;
$teal-10: #d9fbfb !default;
$teal-20: #9ef0f0 !default;
$teal-30: #3ddbd9 !default;
$teal-40: #08bdba !default;
$teal-50: #009d9a !default;
$teal-60: #007d79 !default;
$teal-70: #005d5d !default;
$teal-80: #004144 !default;
$teal-90: #022b30 !default;
$teal-100: #081a1c !default;
$warm-gray-10: #f7f3f1 !default;
$warm-gray-20: #e0dbda !default;
$warm-gray-30: #c1bcbb !default;
$warm-gray-40: #a7a2a2 !default;
$warm-gray-50: #8f8b8b !default;
$warm-gray-60: #726e6e !default;
$warm-gray-70: #595555 !default;
$warm-gray-80: #403c3c !default;
$warm-gray-90: #2b2828 !default;
$warm-gray-100: #1a1717 !default;
$white-0: #ffffff !default;
$yellow-10: #feffe6 !default;
$yellow-20: #ffffb8 !default;
$yellow-30: #fffb8f !default;
$yellow-40: #fff566 !default;
$yellow-50: #ffec3d !default;
$yellow-60: #fadb14 !default;
$yellow-70: #d4b106 !default;
$yellow-80: #ad8b00 !default;
$yellow-90: #876800 !default;
$yellow-100: #614700 !default;
