$font-family-mono: Consolas, Menlo, 'SFMono-Regular', Courier, monospace !default;
$font-family-sans: 'notokr', 'Segoe UI', 'Open Sans', 'Helvetica Neue' !default;
$font-family-serif: 'Georgia', Times, serif !default;

$base-font-size: 16px !default; // Default

@function rem($px) {
  @return ($px / $base-font-size) * 1rem;
}

@function em($px) {
  @return ($px / $base-font-size) * 1em;
}

@mixin font-family {
  font-family: $font-family-sans;
}

@mixin font-family-mono {
  font-family: $font-family-mono;
}

// heading 텍스트와 body 텍스트, 두개의 line-height를 선택할 수 있다
@mixin line-height($el) {
  @if $el == 'heading' {
    line-height: 1.5;
  } @else if $el == 'body' {
    line-height: 1.25;
  } @else {
    @warn 'Invalid argument used for @mixin line-height($el) . Please use 'heading' or 'body'.';
  }
}

// 두꺼운 서체에서 사용되는 font-smoothing
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin letter-spacing {
  letter-spacing: 0;
}

$font-size-map: (
  '76': 4.75rem,
  '54': 3.375rem,
  '36': 2.25rem,
  '28': 1.75rem,
  '20': 1.25rem,
  '18': 1.125rem,
  '16': 1rem,
  '14': 0.875rem,
  '12': 0.75rem,
  '11': 0.6875rem
);

@mixin font-size($size) {
  @if map-has-key($font-size-map, $size) {
    font-size: map-get($font-size-map, $size);
  } @else {
    @warn 'This is not a step of the IRIS Type Scale! Valid sizes are 11, 12, 14, 16, 18, 20, 28, 36, 54, and 76';
  }
}
