$glob: "\e932";
$user: "\e933";
$lock: "\e934";
$sign-out: "\e935";
$setting: "\e931";
$warning: "\e915";
$warning-filled: "\e922";
$err: "\e923";
$err-filled: "\e924";
$info: "\e925";
$info-filled: "\e926";
$help: "\e90d";
$help-filled: "\e927";
$check: "\e928";
$check-filled: "\e929";
$tune: "\e92a";
$menu-open: "\e92b";
$menu: "\e92c";
$dashboard: "\e92d";
$mega-menu: "\e914";
$app-switcher: "\e90e";
$angle-top: "\e90f";
$angle-right: "\e910";
$angle-bottom: "\e911";
$angle-left: "\e912";
$draggable: "\e913";
$caret-top: "\e916";
$caret-right: "\e917";
$caret-bottom: "\e918";
$caret-left: "\e919";
$angle-right-thin: "\e91b";
$angle-bottom-thin: "\e91c";
$angle-left-thin: "\e91d";
$dubble-angle-top: "\e91e";
$dubble-angle-right: "\e91f";
$dubble-angle-down: "\e920";
$dubble-angle-left: "\e921";
$delete: "\e90a";
$cancel-thin: "\e90b";
$add: "\e90c";
$list-setting: "\e900";
$data-storage: "\e92e";
$data-base: "\e901";
$data-model: "\e902";
$new-window: "\e903";
$alarm: "\e92f";
$alarm-filled: "\e930";
$alarm-setting: "\e904";
$alarm-disabled: "\e905";
$datetime-setting: "\e906";
$datetime: "\e907";
$calendar: "\e908";
$angle-top-thin: "\e91a";
$clock: "\e909";

.iriscon {
  font: normal normal normal 16px/1.25 "iriscon";
  speak: none;
  text-transform: none;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.glob::before {
    content: $glob;
  }

  &.user::before {
    content: $user;
  }

  &.lock::before {
    content: $lock;
  }

  &.sign-out::before {
    content: $sign-out;
  }

  &.setting::before {
    content: $warning;
  }

  &.warning::before {
    content: $warning;
  }

  &.warning-filled::before {
    content: $warning-filled;
  }

  &.err::before {
    content: $err;
  }

  &.err-filled::before {
    content: $err-filled;
  }

  &.info::before {
    content: $info;
  }

  &.info-filled::before {
    content: $info-filled;
  }

  &.help::before {
    content: $help;
  }

  &.help-filled::before {
    content: $help-filled;
  }

  &.check::before {
    content: $check;
  }

  &.check-filled::before {
    content: $check-filled;
  }

  &.tune::before {
    content: $tune;
  }

  &.menu-open::before {
    content: $menu-open;
  }

  &.menu::before {
    content: $menu;
  }

  &.dashboard::before {
    content: $dashboard;
  }

  &.mega-menu::before {
    content: $mega-menu;
  }

  &.app-switcher::before {
    content: $app-switcher;
  }

  &.angle-top::before {
    content: $angle-top;
  }

  &.angle-right::before {
    content: $angle-right;
  }

  &.angle-bottom::before {
    content: $angle-bottom;
  }

  &.angle-left::before {
    content: $angle-left;
  }

  &.draggable::before {
    content: $draggable;
  }

  &.caret-top::before {
    content: $caret-top;
  }

  &.caret-right::before {
    content: $caret-right;
  }

  &.caret-bottom::before {
    content: $caret-bottom;
  }

  &.caret-left::before {
    content: $caret-left;
  }

  &.angle-top-thin::before {
    content: $angle-top-thin;
  }

  &.angle-right-thin::before {
    content: $angle-right-thin;
  }

  &.angle-bottom-thin::before {
    content: $angle-bottom-thin;
  }

  &.angle-left-thin::before {
    content: $angle-left-thin;
  }

  &.dubble-angle-top::before {
    content: $dubble-angle-top;
  }

  &.dubble-angle-right::before {
    content: $dubble-angle-right;
  }

  &.dubble-angle-down::before {
    content: $dubble-angle-down;
  }

  &.dubble-angle-left::before {
    content: $dubble-angle-left;
  }

  &.delete::before {
    content: $delete;
  }

  &.cancel-thin::before {
    content: $cancel-thin;
  }

  &.add::before {
    content: $add;
  }

  &.list-setting::before {
    content: $list-setting;
  }

  &.data-storage::before {
    content: $data-storage;
  }

  &.data-base::before {
    content: $data-base;
  }

  &.data-model::before {
    content: $data-model;
  }

  &.new-window::before {
    content: $new-window;
  }

  &.alarm::before {
    content: $alarm;
  }

  &.alarm-filled::before {
    content: $alarm-filled;
  }

  &.alarm-setting::before {
    content: $alarm-setting;
  }

  &.alarm-disabled::before {
    content: $alarm-disabled;
  }

  &.datetime-setting::before {
    content: $datetime-setting;
  }

  &.datetime::before {
    content: $datetime;
  }

  &.calendar::before {
    content: $calendar;
  }

  &.clock::before {
    content: $clock;
  }
}
