$prefix: 'mui' !default;
$img-path: '/src/assets/images' !default;
$font-path: '~@/assets/fonts' !default;
$header-height: 40px !default;

// button
$button-border-width: 1px !default;
$button-border-radius: 4px !default;