//----------------------------------------------
// search-detail index
// ---------------------------------------------

.contens {
  padding-top: 0;
}

//통합검색 결과없음
.data-none {
padding: rem(120px) 0;
text-align: center;

&:before {
  content: "";
  display: block;
  margin: 0 auto 37px;
  width: rem(94px);
  height: rem(94px);
  background: url(#{$img-path}/icon/no-data.svg) no-repeat 0 0;
}
.data-none__title {
  @include font-size("20");
  @include font-weight("medium");
  color: $ui-01;
  margin-bottom: rem(20px);
  mark {
    margin-right: rem(5px);
    &::before {
      content: "‘";
    }
    &::after {
      content: "’";
    }

  }
}
.data-none__description {
  @include font-size("16");
  @include font-weight("medium");
  color: $ui-01;
  span {
    display: block;
    @include font-size("14");
    @include font-weight("medium");
    padding-top: rem(10px);
    color: $light;

  }
}

}

.heading-group {
  border-bottom: 1px solid #333;
}

.outside-data {
  .contents__summary-information {
    figure {
      display: none;
    }
    .information__data {
      .badges {
        display: none;
      }
      .information__data-title {
        margin-top: 0;
      }
      .information__data-details {
        dl {
          display: none;
        }
        p {
          display: block;
        }
      }
    }
  }

  .contents__summary-provider {
    display: none;
  }

  .contents__detail {
    display: none;
  }

  .contents-outside__detail {
    display: block;
  }
}

// 데이터 요약 정보
.data-box {
  border-top: 2px solid #333;
  border-bottom: 1px solid #ccc;
  background-color: rgba($primary, 0.04);
  padding: rem(28px) rem(30px) rem(30px);
}

.data-box__information {
  padding: 0;
}

// 관심데이터 버튼
.favorite-cnt {
  .favorite-cnt__button {
    flex-direction: column;
    .svg-icon {
      display: block;
      margin: 0 auto;

      & + span {
        margin: 0 0 5px 0;
      }
    }

}
}

// 탭
.tab {
  position: sticky;
  top: 100px;
  z-index: 10;
  margin: rem(52px) 0 0;
  padding: rem(12px) 0;
  background-color: $ui-02;
}

// 데이터 품질지표
.chart {
  display: flex;
  border-bottom: 1px solid $line2;

  li {
    flex: 1;
    padding: $spacing-lg $spacing-md;
    text-align: center;

    &:nth-child(odd) {
      background-color: $ui-05;
    }
  }
}

.chart__graph {
  width: rem(120px);
  height: rem(120px);
}

.chart__title {
  @include font-size("20");
  @include font-weight("medium");
  display: block;
  margin: $spacing-md 0 $spacing-xs;
  color: $gy-02;
}

// 데이터 상세정보
.contents__detail {
  margin-top: rem(52px);
  width: 100%;
  position: relative;

  & ~ & {
    margin-top: rem(52px);
  }
}

// 샘플 데이터
.contents__detail-sample {
  .table-scroll {
    max-height: rem(300px);
  }
}

// 파일 데이터
.filedata__list {
  border-bottom: 1px solid $line2;

  li {
    &:not(:last-child) {
      border-bottom: 1px solid $line4;
    }

    &.open-filedata {
      .filedata__content {
        display: block;
      }
    }
  }
}

.filedata__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(10px) 0;
}

.filedata__item-title {
  flex-grow: 1;
  padding: 0 rem(10px);

  .ellipsis-end {
    display: inline;
  }
}

.filedata__button-preview {
  display: flex;
  align-items: center;
  margin-right: $spacing-md;
  padding: 0;
  border: 0;

  &:hover,
  &:focus {
    color: inherit;
    background-color: inherit;
  }

  .button__text {
    display: flex;
    align-items: center;
    color: $basic;

    &::after {
      content: "";
      margin-left: rem(10px);
      border-top: rem(5px) solid currentColor;
      border-right: rem(5px) solid transparent;
      border-left: rem(5px) solid transparent;
    }
  }

  &::after {
    content: "";
    width: rem(1px);
    height: rem(12px);
    margin-left: $spacing-md;
    background-color: #ddd;
    color: $ui-01;
    padding: 0 rem(10px);
  }
}
}


.filedata__button-preview.filedata__button-close {
  .button__text {
    &::after {
      transform: rotate(-180deg);
      transition: all 0.1s;
    }
  }
}

.filedata__content {
  display: none;
  padding: $spacing-md;
  border-top: 1px solid $line4;

  .table-scroll {
    max-height: rem(300px);
  }
}

// 데이터 연관관계
.contents__detail-diagram {
  padding: 1rem;
  border-bottom: 1px solid $line2;
}

// 활용사례
.contents__detail-used {
  li {
    border-bottom: 1px solid $ui-04;
    height: rem(60px);
    display: flex;
    align-items: center;
  }

  .badge {
    width: 70px;
  }
}

.used__title {
  flex-shrink: 0;
  width: rem(220px);
  padding-left: $spacing-lg;
  color: $gy-02;
  @include font-weight("regular");
}

.used__description {
  flex-grow: 1;
  padding-left: rem(10px);
  @include font-weight("regular");
}

.used__date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: rem(140px);
  margin-right: $spacing-md;
  @include font-size("14");
  @include font-weight("regular");

  &::after {
    content: "";
    width: rem(1px);
    height: rem(12px);
    margin-left: $spacing-md;
    background-color: #ddd;
  }

  b {
    margin-left: $spacing-sm;
    color: $ui-01;
    @include font-weight("regular");
  }
}

// 법률검토 및 규정안내
.contents__detail-rule {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 1rem;
  border-bottom: 1px solid $line2;
}
