.contens {
  padding-top: 0;
}

.outside-data {
  .contents__summary-information {
    figure {
      display: none;
    }
    .information__data {
      .badges {
        display: none;
      }
      .information__data-title {
        margin-top: 0;
      }
      .information__data-details {
        dl {
          display: none;
        }
        p {
          display: block;
        }
      }
    }
  }

  .contents__summary-provider {
    display: none;
  }

  .contents__detail {
    display: none;
  }

  .contents-outside__detail {
    display: block;
  }
}

// 데이터 요약 정보
.data-box {
  border-top: 2px solid #333;
  border-bottom: 1px solid #ccc;
  background-color: rgba($primary, 0.04);
}

// 관심데이터 버튼
.favorite-cnt {
  .favorite-cnt__button {
    .svg-icon {
      display: block;
      margin: 0 auto;

      & + span {
        margin: 0;
      }
    }
  }
}

// 탭
.tab {
  position: sticky;
  top: 100px;
  z-index: 20;
  margin-top: 60px;
}

// 데이터 품질지표
.chart {
  display: flex;
  border-bottom: 1px solid $line2;

  li {
    flex: 1;
    padding: $spacing-lg $spacing-md;
    text-align: center;

    &:nth-child(odd) {
      background-color: $ui-05;
    }
  }
}

.chart__graph {
  width: rem(120px);
  height: rem(120px);
}

.chart__title {
  @include font-size("20");
  @include font-weight("medium");
  display: block;
  margin: $spacing-md 0 $spacing-xs;
  color: $gy-02;
}

// 데이터 상세정보
.contents__detail {
  margin-top: rem(20px);
  width: 100%;
  position: relative;

  & ~ & {
    margin-top: rem(52px);
  }
}

// formbox
.formbox {
  position: relative;
  border-top: 1px solid $gy-02;
  border-bottom: 1px solid $line2;

  & ~ & {
    margin-top: rem(20px);
  }

  th,
  td {
    height: rem(50px);
    padding: $spacing-xs $spacing-md;
    font-weight: inherit;
    font-size: inherit;
    text-align: left;
    vertical-align: middle;
    overflow-wrap: break-word;
    word-break: keep-all;
  }

  tbody tr:not(:last-child) th,
  tbody tr:not(:last-child) td {
    border-bottom: 1px solid $line4;
  }

  th {
    background-color: $ui-05;
  }
}

// 샘플 데이터
.contents__detail-sample {
  .table-scroll {
    max-height: rem(300px);
  }
}

// 파일 데이터
.filedata__list {
  border-bottom: 1px solid $line2;

  li {
    &:not(:last-child) {
      border-bottom: 1px solid $line4;
    }

    &.open-filedata {
      .filedata__content {
        display: block;
      }
    }
  }
}

.filedata__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(10px) 0;
}

.filedata__item-title {
  flex-grow: 1;
  padding: 0 rem(10px);

  .ellipsis-end {
    display: inline;
  }
}

.filedata__button-preview {
  display: flex;
  align-items: center;
  margin-right: $spacing-md;
  padding: 0;
  border: 0;

  &:hover,
  &:focus {
    color: inherit;
    background-color: inherit;
  }

  .button__text {
    display: flex;
    align-items: center;
    color: $basic;

    &::after {
      content: "";
      margin-left: rem(10px);
      border-top: rem(5px) solid currentColor;
      border-right: rem(5px) solid transparent;
      border-left: rem(5px) solid transparent;
    }
  }

  &::after {
    content: "";
    width: rem(1px);
    height: rem(12px);
    margin-left: $spacing-md;
    background-color: #ddd;
  }
}

.filedata__content {
  display: none;
  padding: $spacing-md;
  border-top: 1px solid $line4;

  .table-scroll {
    max-height: rem(300px);
  }
}

// 데이터 연관관계
.contents__detail-diagram {
  padding: 1rem;
  border-bottom: 1px solid $line2;
}

// 활용사례
.contents__detail-used {
  li {
    border-bottom: 1px solid $ui-04;
    height: rem(60px);
    display: flex;
    align-items: center;
  }

  .badge {
    width: 70px;
  }
}

.used__title {
  flex-shrink: 0;
  width: rem(220px);
  padding-left: $spacing-lg;
  color: $gy-02;
  @include font-weight("regular");
}

.used__description {
  flex-grow: 1;
  padding-left: rem(10px);
  @include font-weight("regular");
}

.used__date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: rem(140px);
  margin-right: $spacing-md;
  @include font-size("14");
  @include font-weight("regular");

  &::after {
    content: "";
    width: rem(1px);
    height: rem(12px);
    margin-left: $spacing-md;
    background-color: #ddd;
  }

  b {
    margin-left: $spacing-sm;
    color: $ui-01;
    @include font-weight("regular");
  }
}

// 법률검토 및 규정안내
.contents__detail-rule {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 1rem;
  border-bottom: 1px solid $line2;
}
