/* breadcrumb */
.breadcrumb__wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: rem(50px);
  background-image: url(#{$img-path}/common/bg_breadcrumb.png), url(#{$img-path}/common/bg__breadcrumb_pattern.png), linear-gradient(to right, #59bdeb, #49c7d4);
  background-repeat: repeat-x, no-repeat, no-repeat;
  background-position: 0 0, center 0, 0 0;
}

.breadcrumb__inner {
  position: relative;
  display: flex;
  align-items: center;
  width: rem(1200px);
  margin: 0 auto;
}

.breadcrumb__list {
  flex-grow: 1;
  display: flex;
  width: 100%;
}

.breadcrumb__item {
  position: relative;
  @include font-size("14");
  color:#e4f3fb; 
  padding:0 0 0 rem(34px); 

  &:last-child {
    @include font-weight("medium");
    color: #fff;
  }
}

.breadcrumb__item:hover {
  color: #fff;
}

.breadcrumb__item:before {
  content: "";
  width: rem(5px);
  height: rem(5px);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  display: inline-block;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  left: rem(12px);
}

.breadcrumb__item--home {
  padding-left: $spacing-lg;
}

.breadcrumb__item--home:before {
  position: absolute;
  left: 0;
  top:0; 
  transform: none;
  background: url("#{$img-path}/icon/home-wh.svg") no-repeat center center;
  border: none;
  width: rem(18px);
  height: rem(18px);
}

.breadcrumb__link {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > * + * {
    margin-left: $spacing-2xs;
  }
}

.breadcrumb__button-url {
  height: rem(30px);
  line-height: rem(30px);
  padding: 0 $spacing-md;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 15px;
  color:#e4f3fb;
  
  &:hover:not(:disabled) {
    border-color: $secondary;
  }

  &:active {
    border-color: $secondary;
    color: $secondary;
  }
}

.breadcrumb__button-share {
  position: relative;
  width: rem(25px);
  height: rem(25px);
  background: $ui-02;
  border: 1px solid $ui-04;
  border-radius: 50%;
  font-size: 0;

  .svg-icon {
    position: absolute;
    width: rem(16px);
    height: rem(16px);
    left: rem(3px);
    fill: $text-03;
  }

  &:hover {
    border-color: $secondary;
  }
}

.tooltip-share--open {
  border-color: $secondary;

  .svg-icon {
    fill: $secondary;
  }

  .breadcrumb__tooltip-share {
    display: block;
  }
}

.breadcrumb__tooltip-share {
  position: absolute;
  top: rem(26px);
  left: rem(-3px);
  width: rem(100px);
  border: 1px solid $ui-04;
  border-radius: rem(5px);
  background: $ui-02;
  padding: rem(6px) $spacing-sm;
  display: none;
  z-index: 1;

  li {
    width: 100%;
    text-align: left;
  }
}

.tooltip-share__item {
  position: relative;
  width: 100%;
  height: rem(22px);
  line-height: rem(22px);
  padding-left: rem(20px);
  @include font-size("12");
  text-align: left;
  display: block;

  &:hover {
    color: $secondary;
  }

  &::before {
    content: " ";
    position: absolute;
    top: rem(3px);
    left: 0;
    width: rem(16px);
    height: rem(16px);
    border-radius: rem(3px);
    background: $ui-01 url(#{$img-path}/common/icon.png) no-repeat rem(-11px) rem(-251px);
    border: 1px solid $ui-04;
    box-sizing: border-box;
  }
}

.kakao::before {
  background: url(#{$img-path}/common/share_kakao.png) no-repeat;
  background-size: 100%;
  border: none;
}

.cafe::before {
  background: url(#{$img-path}/common/share_cafe.png) no-repeat;
  background-size: 100%;
  border: none;
}



/*
 @include template-respond-to('breakpoint-lg') {
   .breadcrumbs {
     display: none;
   }
 }
*/