// Color Theme Variables
$basic:#666666 !default;
$primary: #3bb4c0 !default;// active 포함
$primary-dark: #28949f !default; 
$secondary: #28949f !default;
$negative: #ef594f !default;
$positive: #5180e0 !default;
$success: #2fa087 !default; 
$danger: #ea212a !default;

$dark: #333 !default;
$white: #fff !default;
$black: #000 !default;
$light: #909090 !default;
$red: $danger !default;
$blue: $success !default;
$green: $positive !default;
$orange: #e5765c !default;

$theme-colors: () !default;
$theme-colors: map-merge(
	(
		"basic": $basic,
		"primary": $primary,
		"secondary": $secondary,
		"negative": $negative,
		"positive": $positive,
		"success": $success,
		"danger": $danger,
		"white": $white,
		"black": $black,
		"light": $light,
		"orange": $orange
	),
	$theme-colors
);

// 강조
$point-01: #222222 !default;
$point-02: #333333 !default;
$point-03: #119891 !default;

// border, bg, font
$ui-01: #333 !default;// form, tr:last
$ui-02: #ffffff !default;
$ui-03: #e5e5e5 !default;// tr
$ui-04: #e1e1e1 !default;
$ui-05: #fafafa !default;// th
$ui-06: #f7fcfd !default;
$ui-07: #909090 !default;
$ui-08: #f26c4f !default;
$ui-09: #999999 !default;
$ui-10: #f45555 !default;
$ui-11: #e4f3fb !default;
$ui-12: #444444 !default;
$ui-13: #f5f5f5 !default;

// common status : 진행상태
$status-01: #ee9785 !default;// 등록불가
$status-02: #3bb4c0 !default;// 접수중,처리중
$status-03: #cccccc !default;// 등록완료

// common hover
$hover-01: #f5f8fb !default;// 테이블오버시

$text-01: #333 !default;
$text-02: #5D5D62 !default;
$text-03: #8D8F95 !default;
$text-04: #ffffff !default;
$text-05: #abafba !default;
$link: #606974 !default;
$icon-01: #666666 !default;
$icon-02: #367BFF !default;
$inverse-01: #ffffff !default;
$field-bg: #ffffff !default;
$field-border: #dce1e8 !default;
$support-01: #0747a6 !default;
$support-02: #00875a !default;
$support-03: #ffab00 !default;
$support-04: #de350b !default;
$overlay-01: rgba(#242e3d, 0.5) !default;
$overlay-02: rgba($ui-02, 0.6) !default;

// Interactive Tokesn
$focus: $secondary !default;
$default-focus: #367BFF !default;
$hover-primary: #7492a1 !default;
$hover-secondary: #3bb4c0 !default;
$hover-negative: #ff7e75 !default;
$hover-ui-accent: #E2E7F5 !default;
$hover-field-border: #b2bdcb !default;
$hover-row: #f0f3f6 !default;
$odd-row: #fafafa !default;
$active-primary: #28949f !default;
$active-secondary: #3bb4c0 !default;
$active-negative: #e24d43 !default;
$active-danger: #e24d43 !default;
$active-ui-accent: #d9e8ff !default;
$disabled-01: #f0f3f6 !default;
$disabled-02: rgba(#abafba, 0.5) !default;

//common breadcrumb
$breadcrumb-text: $text-05 !default;
$breadcrumb-bg: $hover-row !default;

$gy-01 : #222 !default;
$gy-02 : #333 !default;
$line2 : #cccccc !default;
$line3 : #e1e1e1 !default;
$line4 : #e5e5e5 !default;

