//-------------------------------------------
//  search-filter 기본 필터
// ------------------------------------------
// @search-filter    || 필터박스
// @search-filter__head    || 필터박스 > 헤더
// @search-filter__body    || 필터박스 > 바디
// @search-filter__list   || 필터박스 > 바디 > ul
// @search-filter__item   || 필터박스 > 바디 > ul > li

.search-filter {
}

.search-filter__head {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fafafa;
}

.search-filter__head .checkbox__label {
  span {
    @include font-size("16");
    @include font-weight("regular");
    color: $ui-01;
  }
}

.search-filter__body {
  background-color: $ui-02;
}
/* search-filter__body > ul */
.search-filter__list {  
  height: 100%;
}

.search-filter__item-group {
  display: flex;
  align-items: center;
  padding: $spacing-2xs $spacing-md;
}

.search-filter__body .checkbox {

}

.search-filter__count {
  margin-left: auto;
}

.search-filter__next {
  margin: $spacing-2xs 0 $spacing-2xs $spacing-xl;
}

