main {
  width: 100%;
  min-width: rem(1200px);
  margin: 0 auto;
}

/* 서브페이지영역 재정리 2022-06-29 */
.main {
  padding-top: rem(100px);
}

.contents-subject {
  height: rem(50px);
}

.contents-wrap {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: rem(1200px);
  margin: 0 auto;
  padding-top: rem(60px);
}

.contents-group {
  flex: 1;
  max-width: 100%;
}

.contents {
  padding-bottom: rem(100px);
}

/* 영역분리용 2022-06-29 ADD */
.contents-section {
  display: flex;
  align-items: flex-start;
}

/* 서브페이지영역 (LNB, contents-wrap) */
.main-contents {
  display: flex;
}

/* IE 스크롤바 */
.scrollCustomize {
  overflow: auto;
  scrollbar-arrow-color: #c2c2c2;
  scrollbar-base-color: #c2c2c2;
  scrollbar-face-color: #c2c2c2;
  scrollbar-track-color: #f2f2f2;
  scrollbar-darkshadow-color: #c2c2c2;
  scrollbar-shadow-color: #c2c2c2;
  scrollbar-highlight-color: #c2c2c2;
  scrollbar-3dlight-color: #c2c2c2;
}

/* Chrome, Safari 스크롤 바 */
.scrollCustomize::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.scrollCustomize::-webkit-scrollbar-thumb {
  border: none;
  background: rgba(0, 0, 0, 0.35);
}
.scrollCustomize::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

// v--modal 스타일 변경
.v--modal {
  border-radius: rem(10px) !important;
}


