// reset svg-icon
.svg-icon {
  @include svg-icon-size(18px);
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  clip-rule: evenodd;
  fill-rule: evenodd;
  fill: $icon-01;
  color: $icon-01;

  &--primary {
    fill: $primary;
  }

  &--secondary {
    fill: $secondary;
  }

  &--negative {
    fill: $negative;
  }

  &--positive {
    fill: $positive;
  }
  
  &--success {
    fill: $success;
  }
  
  &--dark {
    fill: $dark;
  }
  
  &--white {
    fill: $white;
  }
}
